body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}
body main {
  width: 100%;
  height: 800px;
  box-sizing: border-box;
  margin-top: 50px;
}
body main center {
  margin: auto;
  width: 1200px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body main center .left {
  width: 60%;
  text-align: left;
  padding: 20px;
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
}
body main center .left select {
  padding: 5px;
  font-size: 1.2em;
}
body main center .left .card {
  margin-top: 50px;
  margin-left: 20px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  gap: 50px;
  background-color: rgb(220, 220, 220);
  border-radius: 20px;
}
body main center .left .card input {
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  border: 1px solid grey;
}
body main center .left .card .credit {
  width: 300px;
}
body main center .left .card .cvv {
  width: 100px;
}
body main center .left .card .month {
  margin-top: 10px;
  height: 20px;
  width: 70px;
}
body main center .left .card .year {
  margin-top: 10px;
  height: 20px;
  width: 50px;
}
body main center .right {
  width: 35%;
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
body main center .right hr {
  width: 100%;
}
body main center .right img {
  margin: auto;
  width: 100%;
  border-radius: 10px;
}
body main center .right h3 {
  font-size: 2em;
  color: yellowgreen;
  text-align: center;
}
body main center .right span {
  height: 50%;
  display: flex;
  padding: 20px;
  margin: auto;
  gap: 20px;
}
body main center .right span input {
  width: 80px;
}
body main center .right button {
  height: 300px;
  font-size: 1.5em;
  font-weight: bolder;
  color: white;
  background-image: linear-gradient(to right, rgb(133, 221, 251), rgb(10, 194, 255));
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}
body main center .right button:hover {
  background-image: linear-gradient(to right, rgb(157, 231, 255), rgb(54, 205, 255));
  cursor: pointer;
}
body .loading {
  visibility: hidden;
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 2;
}/*# sourceMappingURL=checkout.css.map */