body{  
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;


    main{
        width: 100%;
        height: 800px;
        box-sizing: border-box;
        margin-top: 50px;

        center{
            margin: auto;
            width: 1200px;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            padding: 10px;
            gap: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            .left{
                width: 60%;
                text-align: left;
                padding: 20px;
                background-color: rgb(232, 232, 232);
                border-radius: 10px;
                select{
                    padding: 5px;
                    font-size: 1.2em;
                }


                .card{
                    margin-top: 50px;
                    margin-left: 20px;
                    padding: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    width: 500px;
                    gap: 50px;
                    background-color: rgb(220, 220, 220);
                    border-radius: 20px;
                    input{
                        padding: 10px;
                        font-size: large;
                        border-radius: 5px;
                        border: 1px solid grey;

                    }
                    .credit{
                        width: 300px;
                    }
                    .cvv{
                        width: 100px;
                    }
                    
                    .month{
                        margin-top: 10px;
                        height: 20px;
                        width: 70px;
                    }
                    .year{
                        margin-top: 10px;
                        height: 20px;
                        width: 50px;
                    }
                }
            }
            .right{
                width: 35%;
                background-color: rgb(232, 232, 232);
                border-radius: 10px;
                text-align: left;
                padding: 20px;
                display: flex;
                flex-direction: column;
                hr{
                    width: 100%;
                }
                img{
                    margin: auto;
                    width: 100%;
                    border-radius: 10px;
                }
                h3{
                    font-size: 2em;
                    color: yellowgreen;
                    text-align: center;
                }
                span{
                    height: 50%;
                    display: flex;
                    padding: 20px;
                    margin: auto;
                    gap: 20px;
                    input{
                        width: 80px;
                    }
                }
                button{
                    height: 300px;
                    
                    font-size: 1.5em;
                    font-weight: bolder;
                    color: white;
                    background-image: linear-gradient(to right, rgb(133, 221, 251), rgb(10, 194, 255));
                    border: 0px;
                    border-radius: 5px;
                    cursor: pointer;
                }
                button:hover{
                    background-image: linear-gradient(to right, rgb(157, 231, 255), rgb(54, 205, 255));
                    cursor: pointer;

                }
            }

            
        }
    }
    .loading{
        visibility: hidden;
        background-color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        z-index: 2;
    }
}