html {
  overflow-x: hidden;
}
html body {
  background-color: rgb(1, 43, 43);
  background-image: linear-gradient(to bottom, transparent, rgb(12, 81, 66));
  margin: 0px;
}
html body nav {
  position: sticky;
  top: 0px;
  text-shadow: 1px 1px 10px #000;
  z-index: 3;
  max-width: 100%;
  height: 50px;
  background-color: rgb(0, 29, 30);
  border-radius: 20px;
  padding: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: -10px;
  opacity: 90%;
}
html body nav .menubutton {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
html body nav .title {
  position: relative;
  display: table;
  top: -45px;
  margin: auto;
  max-width: 130px;
  cursor: pointer;
}
html body nav #menu {
  background-color: rgb(0, 29, 30);
  height: 300px;
  padding: 40px;
  width: 200px;
  margin-top: -50px;
  margin-left: -4.9px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 3;
  visibility: hidden;
}
html body nav #menu a {
  color: white;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 2em;
  box-sizing: border-box;
  text-shadow: 20px;
  z-index: 3;
}
html body nav #menu .langbutton {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: transparent;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0px;
  font-size: 2em;
  cursor: pointer;
  text-shadow: 20px;
  z-index: 3;
}
html body main {
  margin-top: -50px;
  height: 6400px;
  width: 100%;
}
html body main center {
  padding: 10px;
  box-sizing: border-box;
  max-width: 1140px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
html body main center span {
  font-size: 1.6em;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #92b2d4;
}
html body main center .activity {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  min-height: 300px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
html body main center .activity .left {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #195057;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
html body main center .activity .left .games {
  height: 20%;
  width: 33%;
  box-sizing: border-box;
  margin: auto;
  text-align: start;
}
html body main center .activity .left .games a {
  text-decoration: none;
  color: rgb(162, 202, 237);
  width: 100%;
  height: 100%;
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  font-size: 1.12em;
  gap: 10px;
  margin: auto;
}
html body main center .activity .left .games a img {
  box-sizing: border-box;
  width: 40px;
}
html body main center .activity .left .games a:hover {
  color: white;
}
html body main center .activity .right {
  min-width: 340px;
  height: 100%;
  box-sizing: border-box;
  background-color: #195057;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 0.9em;
  gap: 20px;
}
html body main center .activity .right hr {
  border: 1px solid #1b3b5d;
  width: 100%;
  box-sizing: border-box;
}
html body main center .activity .right span {
  height: 100%;
}
html body main center .activity .right input {
  position: relative;
  top: -1px;
  background-color: #206873;
  color: rgb(172, 172, 172);
  padding: 10px;
  border: 2px solid #228184;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 0.7em;
  font-style: italic;
}
html body main center .activity .right button {
  height: 43px;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: #228184 1px solid;
  background-color: #256a65;
  color: #6fbfc3;
  font-size: 0.8em;
}
html body main center .activity .right button:hover {
  background-color: #3b8d88;
  color: #b9eaed;
  cursor: pointer;
}
html body main center hr {
  visibility: hidden;
}
html body main center .bar {
  margin-top: 30px;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 50px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
html body main center .bar a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1em;
  color: #92b2d4;
  box-sizing: border-box;
}
html body main center .reviews {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
html body main center .reviews .review {
  box-sizing: border-box;
  border: 1px solid rgb(18, 32, 49);
  border-radius: 5px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}
html body main center .reviews .review p {
  margin-top: 0px;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.8em;
  color: #7eb2d2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html body main center .reviews .review hr {
  width: 95%;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid #102b47;
}
html body main center .reviews .review .games {
  padding: 20px;
  height: 20%;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}
html body main center .reviews .review .games a {
  text-decoration: none;
  color: rgb(162, 202, 237);
  width: 100%;
  height: 100%;
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  font-size: 1.6em;
  gap: 10px;
  box-sizing: border-box;
}
html body main center .reviews .review .games a img {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
html body main center .reviews .review .games a:hover {
  color: white;
}
html body footer {
  width: 100%;
  background-color: #22383b;
  height: 150px;
  margin-bottom: 0px;
}
html body footer .end {
  width: 100%;
  height: 30%;
  margin: auto;
}
html body footer .end hr {
  border: 1px solid rgb(67, 67, 67);
}
html body footer .end .ender {
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  gap: 20px;
  color: rgb(180, 180, 180);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  text-align: center;
}
html body footer .end .ender img {
  opacity: 50%;
}
html body header {
  visibility: hidden;
}

@media screen and (min-width: 700px) {
  html {
    overflow-x: hidden;
  }
  html body {
    background-color: rgb(1, 43, 43);
    background-image: linear-gradient(to bottom, transparent, rgb(12, 81, 66));
    margin: 0px;
  }
  html body nav {
    position: sticky;
    top: 0px;
    text-shadow: 1px 1px 10px #000;
    z-index: 3;
    max-width: 100%;
    height: 50px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -10px;
    opacity: 90%;
  }
  html body nav .menubutton {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
  }
  html body nav .title {
    position: relative;
    display: table;
    top: -45px;
    margin: auto;
    max-width: 130px;
    cursor: pointer;
  }
  html body nav #menu {
    background-color: rgb(0, 29, 30);
    height: 300px;
    padding: 40px;
    width: 200px;
    margin-top: -50px;
    margin-left: -4.9px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 3;
    visibility: hidden;
  }
  html body nav #menu a {
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2em;
    box-sizing: border-box;
    text-shadow: 20px;
    z-index: 3;
  }
  html body nav #menu .langbutton {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0px;
    font-size: 2em;
    cursor: pointer;
    text-shadow: 20px;
    z-index: 3;
  }
  html body main {
    margin-top: -50px;
    height: 4500px;
    width: 100%;
  }
  html body main center {
    padding: 10px;
    box-sizing: border-box;
    max-width: 1140px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  html body main center span {
    font-size: 1.6em;
    text-align: left;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #92b2d4;
  }
  html body main center .activity {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    min-height: 300px;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  html body main center .activity .left {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #195057;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  html body main center .activity .left .games {
    height: 20%;
    width: 33%;
    box-sizing: border-box;
    margin: auto;
    text-align: start;
  }
  html body main center .activity .left .games a {
    text-decoration: none;
    color: rgb(162, 202, 237);
    width: 100%;
    height: 100%;
    font-size: larger;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    font-size: 1.12em;
    gap: 10px;
    margin: auto;
  }
  html body main center .activity .left .games a img {
    box-sizing: border-box;
    width: 40px;
  }
  html body main center .activity .left .games a:hover {
    color: white;
  }
  html body main center .activity .right {
    min-width: 340px;
    height: 100%;
    box-sizing: border-box;
    background-color: #195057;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 0.9em;
    gap: 20px;
  }
  html body main center .activity .right hr {
    border: 1px solid #1b3b5d;
    width: 100%;
    box-sizing: border-box;
  }
  html body main center .activity .right span {
    height: 100%;
  }
  html body main center .activity .right input {
    position: relative;
    top: -1px;
    background-color: #206873;
    color: rgb(172, 172, 172);
    padding: 10px;
    border: 2px solid #228184;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 0.7em;
    font-style: italic;
  }
  html body main center .activity .right button {
    height: 43px;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: #228184 1px solid;
    background-color: #256a65;
    color: #6fbfc3;
    font-size: 0.8em;
  }
  html body main center .activity .right button:hover {
    background-color: #3b8d88;
    color: #b9eaed;
    cursor: pointer;
  }
  html body main center hr {
    visibility: hidden;
  }
  html body main center .bar {
    margin-top: 100px;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 50px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  html body main center .bar a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    color: #92b2d4;
    box-sizing: border-box;
  }
  html body main center .reviews {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  html body main center .reviews .review {
    box-sizing: border-box;
    border: 1px solid rgb(18, 32, 49);
    border-radius: 5px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
  }
  html body main center .reviews .review p {
    margin-top: 0px;
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.8em;
    color: #7eb2d2;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  html body main center .reviews .review hr {
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid #102b47;
  }
  html body main center .reviews .review .games {
    padding: 20px;
    height: 20%;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
  }
  html body main center .reviews .review .games a {
    text-decoration: none;
    color: rgb(162, 202, 237);
    width: 100%;
    height: 100%;
    font-size: larger;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    font-size: 1.6em;
    gap: 10px;
    box-sizing: border-box;
  }
  html body main center .reviews .review .games a img {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
  }
  html body main center .reviews .review .games a:hover {
    color: white;
  }
  html body footer {
    width: 100%;
    background-color: #22383b;
    height: 150px;
    margin-bottom: 0px;
  }
  html body footer .end {
    width: 100%;
    height: 40%;
    margin: auto;
  }
  html body footer .end hr {
    border: 1px solid rgb(67, 67, 67);
  }
  html body footer .end .ender {
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: 20px;
    color: rgb(180, 180, 180);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-align: center;
  }
  html body footer .end .ender img {
    opacity: 50%;
  }
}
@media screen and (min-width: 900px) {
  html {
    overflow-x: hidden;
  }
  html body {
    background-color: #25506a;
    background-image: linear-gradient(to bottom, rgb(52, 89, 140), rgb(10, 42, 80));
    zoom: 100%;
    margin: 0px;
  }
  html body nav {
    top: 0px;
    flex-basis: 0;
    max-width: 40%;
    height: 60px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    opacity: 50%;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    transition: 0.2s;
  }
  html body nav .menubutton {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
  }
  html body nav .menubutton:hover {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
  }
  html body nav .title {
    margin-right: 20px;
    max-width: 130px;
    opacity: 100%;
    cursor: pointer;
    transition: 0.2s;
  }
  html body nav #menu {
    margin-top: -20px;
    width: 100px;
    height: 190px;
    background-color: rgb(0, 29, 30);
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
    visibility: hidden;
  }
  html body nav #menu a {
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
  html body nav #menu .langbutton {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0px;
    font-size: 1.05em;
    cursor: pointer;
  }
  html body nav:hover {
    max-width: 42%;
    height: 60px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    opacity: 70%;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    transition: 0.2s;
    animation: scrol;
    animation-timeline: scroll;
  }
  html body header {
    position: relative;
    top: 20px;
    display: flex;
    visibility: visible;
    margin: auto;
    max-width: 90%;
    background-image: linear-gradient(to right, #3B6491, #0F216E);
    justify-content: space-evenly;
    text-align: center;
    border: transparent;
    border: 1px solid #204873;
    max-height: 40px;
  }
  html body header .tabs {
    padding: 10px;
    background-color: transparent;
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 1.1em;
  }
  html body header .tabs:hover {
    padding: 10px;
    background-image: linear-gradient(to right, #37749a, transparent);
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
  }
  html body header .tabs2 {
    padding: 5px;
    background-color: transparent;
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  html body main {
    margin-top: 50px;
    height: 4000px;
    width: 100%;
  }
  html body main center {
    padding: 10px;
    box-sizing: border-box;
    max-width: 1140px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  html body main center span {
    font-size: 1.6em;
    text-align: left;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #92b2d4;
  }
  html body main center .activity {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    min-height: 300px;
    display: flex;
    gap: 10px;
    flex-direction: row;
  }
  html body main center .activity .left {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    background-color: #204873;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  html body main center .activity .left .games {
    height: 16%;
    width: 33%;
    box-sizing: border-box;
    margin: auto;
    text-align: start;
  }
  html body main center .activity .left .games a {
    text-decoration: none;
    color: rgb(162, 202, 237);
    width: 100%;
    height: 100%;
    font-size: larger;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    font-size: 1.12em;
    gap: 10px;
    margin: auto;
  }
  html body main center .activity .left .games a img {
    box-sizing: border-box;
    width: 40px;
  }
  html body main center .activity .left .games a:hover {
    color: white;
  }
  html body main center .activity .right {
    min-width: 340px;
    height: 100%;
    box-sizing: border-box;
    background-color: #204873;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 0.9em;
    gap: 20px;
  }
  html body main center .activity .right hr {
    border: 1px solid #1b3b5d;
    width: 100%;
    box-sizing: border-box;
  }
  html body main center .activity .right span {
    height: 100%;
  }
  html body main center .activity .right input {
    position: relative;
    top: -1px;
    background-color: #204873;
    color: rgb(172, 172, 172);
    padding: 10px;
    border: 2px solid #366ba3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 0.7em;
    font-style: italic;
  }
  html body main center .activity .right button {
    height: 43px;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: #366ba3 1px solid;
    background-color: #25496a;
    color: #6fa3c3;
    font-size: 0.8em;
  }
  html body main center .activity .right button:hover {
    background-color: #3b658d;
    color: #b9d9ed;
    cursor: pointer;
  }
  html body main center hr {
    visibility: visible;
  }
  html body main center .bar {
    max-width: 100%;
    box-sizing: border-box;
    min-height: 50px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  html body main center .bar a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    color: #92b2d4;
    box-sizing: border-box;
  }
  html body main center .reviews {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  html body main center .reviews .review {
    box-sizing: border-box;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  html body main center .reviews .review p {
    margin-top: 0px;
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.8em;
    color: #7eb2d2;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  html body main center .reviews .review hr {
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid #102b47;
  }
  html body main center .reviews .review .games {
    padding: 20px;
    height: 20%;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
  }
  html body main center .reviews .review .games a {
    text-decoration: none;
    color: rgb(162, 202, 237);
    width: 100%;
    height: 100%;
    font-size: larger;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    font-size: 1.6em;
    gap: 10px;
    box-sizing: border-box;
  }
  html body main center .reviews .review .games a img {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
  }
  html body main center .reviews .review .games a:hover {
    color: white;
  }
  html body footer {
    width: 100%;
    background-color: #222e3b;
    height: 150px;
    margin-bottom: 0px;
  }
  html body footer .end {
    width: 60%;
    height: 40%;
    margin: auto;
  }
  html body footer .end hr {
    border: 1px solid rgb(67, 67, 67);
  }
  html body footer .end .ender {
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: 20px;
    color: rgb(180, 180, 180);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-align: center;
  }
  html body footer .end .ender img {
    opacity: 50%;
  }
}
@media screen and (min-width: 1220px) {
  html {
    overflow-x: hidden;
  }
  html body {
    background-image: linear-gradient(to bottom, rgb(52, 89, 140), rgb(10, 42, 80));
    zoom: 100%;
    background-color: #25506a;
    margin: 0px;
  }
  html body nav {
    top: 0px;
    flex-basis: 0;
    max-width: 40%;
    height: 60px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    opacity: 50%;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    transition: 0.2s;
  }
  html body nav .menubutton {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
  }
  html body nav .menubutton:hover {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
  }
  html body nav .title {
    margin-right: 20px;
    max-width: 130px;
    opacity: 100%;
    cursor: pointer;
    transition: 0.2s;
  }
  html body nav #menu {
    margin-top: -20px;
    width: 100px;
    height: 190px;
    background-color: rgb(0, 29, 30);
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
    visibility: hidden;
  }
  html body nav #menu a {
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
  html body nav #menu .langbutton {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0px;
    font-size: 1.05em;
    cursor: pointer;
  }
  html body nav:hover {
    max-width: 42%;
    height: 60px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    opacity: 70%;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    transition: 0.2s;
    animation: scrol;
    animation-timeline: scroll;
  }
  html body header {
    position: relative;
    top: 20px;
    display: flex;
    visibility: visible;
    margin: auto;
    max-width: 70%;
    background-image: linear-gradient(to right, #3B6491, #0F216E);
    justify-content: space-evenly;
    text-align: center;
    border: transparent;
    border: 1px solid #204873;
    max-height: 40px;
  }
  html body header .tabs {
    padding: 10px;
    background-color: transparent;
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  html body header .tabs:hover {
    padding: 10px;
    background-image: linear-gradient(to right, #37749a, transparent);
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
  }
  html body header .tabs2 {
    padding: 5px;
    background-color: transparent;
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  html body main {
    margin-top: 50px;
    height: 3100px;
    width: 100%;
  }
  html body main center {
    padding: 10px;
    box-sizing: border-box;
    max-width: 1140px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  html body main center span {
    font-size: 1.6em;
    text-align: left;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #92b2d4;
  }
  html body main center .activity {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    min-height: 300px;
    display: flex;
    gap: 10px;
    flex-direction: row;
  }
  html body main center .activity .left {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    background-color: #204873;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  html body main center .activity .left .games {
    height: 16%;
    width: 33%;
    box-sizing: border-box;
    margin: auto;
    text-align: start;
  }
  html body main center .activity .left .games a {
    text-decoration: none;
    color: rgb(162, 202, 237);
    width: 100%;
    height: 100%;
    font-size: larger;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    font-size: 1.12em;
    gap: 10px;
    margin: auto;
  }
  html body main center .activity .left .games a img {
    box-sizing: border-box;
    width: 40px;
  }
  html body main center .activity .left .games a:hover {
    color: white;
  }
  html body main center .activity .right {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    background-color: #204873;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 0.9em;
    gap: 20px;
  }
  html body main center .activity .right hr {
    border: 1px solid #1b3b5d;
    width: 100%;
    box-sizing: border-box;
  }
  html body main center .activity .right span {
    height: 100%;
  }
  html body main center .activity .right input {
    position: relative;
    top: -1px;
    background-color: #204873;
    color: rgb(172, 172, 172);
    padding: 10px;
    border: 2px solid #366ba3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 0.7em;
    font-style: italic;
  }
  html body main center .activity .right button {
    height: 43px;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: #366ba3 1px solid;
    background-color: #25496a;
    color: #6fa3c3;
    font-size: 0.8em;
  }
  html body main center .activity .right button:hover {
    background-color: #3b658d;
    color: #b9d9ed;
    cursor: pointer;
  }
  html body main center .bar {
    max-width: 100%;
    box-sizing: border-box;
    min-height: 50px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  html body main center .bar a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    color: #92b2d4;
    box-sizing: border-box;
  }
  html body main center .reviews {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  html body main center .reviews .review {
    box-sizing: border-box;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  html body main center .reviews .review p {
    margin-top: 0px;
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.8em;
    color: #7eb2d2;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  html body main center .reviews .review hr {
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid #102b47;
  }
  html body main center .reviews .review .games {
    padding: 20px;
    height: 20%;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
  }
  html body main center .reviews .review .games a {
    text-decoration: none;
    color: rgb(162, 202, 237);
    width: 100%;
    height: 100%;
    font-size: larger;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    font-size: 1.6em;
    gap: 10px;
    box-sizing: border-box;
  }
  html body main center .reviews .review .games a img {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
  }
  html body main center .reviews .review .games a:hover {
    color: white;
  }
  html body footer {
    width: 100%;
    background-color: #222e3b;
    height: 160px;
    margin-bottom: 0px;
  }
  html body footer .end {
    width: 60%;
    height: 40%;
    margin: auto;
  }
  html body footer .end hr {
    border: 1px solid rgb(67, 67, 67);
  }
  html body footer .end .ender {
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: 20px;
    color: rgb(180, 180, 180);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.34em;
    text-align: center;
  }
  html body footer .end .ender img {
    opacity: 50%;
  }
}/*# sourceMappingURL=community.css.map */