



html{ // TELE
    overflow-x: hidden; 
        body{
            background-color: rgb(1, 43, 43);
            background-image: linear-gradient(to bottom, transparent,rgb(12, 81, 66));
            
    
    
            nav{
                position: sticky;
                top: 0px;
                text-shadow: 1px 1px 10px #000;
                z-index: 3;
                max-width: 100%;
                height: 50px;
                background-color: rgb(0, 29, 30);
                border-radius: 20px;
                padding: 5px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                margin-top: -10px;
                opacity: 90%;
    
    
    
                
                .menubutton{
                    background-color: transparent;
                    border: transparent;
                    cursor: pointer;
                    
                }
    
                .title{
                    position: relative;
                    display: table;
                    top: -45px;
                    margin: auto;
                    max-width: 130px;
                    cursor: pointer;
                    
                }
    
                #menu{
                    background-color: rgb(0, 29, 30);
                    height: 300px;
                    padding: 40px;
                    width: 200px;
                    margin-top: -50px;
                    margin-left: -4.9px;
                    border-bottom-left-radius: 20px;     
                    border-bottom-right-radius: 20px;   
                    z-index: 3; 
                    visibility: hidden;
                    a{
                        color: white;
                        text-decoration: none;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        font-weight: bold;
                        font-size: 2em;
                        box-sizing: border-box;
                        text-shadow: 20px;
                        z-index: 3;
                        
                    }
                    
                    .langbutton{
                        color: white;
                        font-weight: bold;
                        background-color: transparent;
                        border: transparent;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        padding: 0px;
                        font-size: 2em;
                        cursor: pointer;
                        text-shadow: 20px;
                        z-index: 3;
                    }
                }
            }
    
         
            




            
            
  
            form{
                margin-top: -50px;
                max-width: 100%;
                box-sizing: border-box;
                height: 900px;
                center{
                    padding: 50px;
                    text-align: start;
                    width: 100%;
                    margin: auto;
                    height: 800px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    .top{
                        margin: auto;
                        text-align: center;
                        color: white;
                        font-size: 2.3em;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        letter-spacing: 0.3em;
                    }
                    .info{
                        width: 100%;
                        margin-top: 30px;
                        display: flex;
                        justify-content: center;
                        padding: 20px;
                        margin: auto;
                        color: white;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: bold;
                        gap: 10px;
                        flex-wrap: wrap;
                        hr{
                            height: 50px;
                        }
                        a{
                            margin-top: 23px;
                            text-decoration: none;
                            color: white;
                        }
                        img{
                            margin-top: 10px;
                            width: 50px;
                            height: 50px;
                        }
                    }

                    p{
                        color: white;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: lighter;
                        text-align: center;
                        font-size: 2em;
                    }



                    .message{
                        display: flex;
                        flex-direction: column;
                        padding: 0px;
                        height: 500px;
                        width: 100%;
                        gap: 10px;
                        color: white;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: bold;
                        input{
                            width: 310px;
                            padding: 10px;
                            border-radius: 10px;
                            background-color:#20736f;
                            border: 1px solid rgb(113, 113, 113);
                            font-size: larger;
                            color: white;
                        }   
                        textarea{
                            height: 100%;
                            height: 300px;
                            resize: none;
                            border-radius: 10px;
                            background-color:#20736f;
                            border: 1px solid rgb(113, 113, 113);
                            padding: 10px;
                            font-size: larger;
                            color: white;

                        }
                        button{
                            align-self: flex-end;
                            width: 200px;
                            height: 100px;
                            font-size: larger;
                            border-radius: 10px;
                            border: 0px;
                            background-color:#20736f;
                            border: 1px solid rgb(113, 113, 113);
                            color: white;
                            font-size: normal;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }

                }
            }
        












            footer{
                width: 100%;
                background-color: #22383b;
                height: 150px;
                margin-bottom: 0px;
    
                .end{
                    width: 100%;
                    height: 30%;
                    margin: auto;
                    hr{
                        border: 1px solid rgb(67, 67, 67);
                    }
                    .ender{
                        padding: 10px;
                        display: flex;
                        box-sizing: border-box;
                        width: 100%;
                        height: 100%;
                        gap: 20px;
                        color: rgb(180, 180, 180);
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-size: 1em;
                        text-align: center;
                        img{
                            opacity: 50%;
                        }
                    }
                }
            }
            margin: 0px;
            
    
    
    
            header{
                visibility: hidden;
            }
        }
    
    }
    
    @media screen and (min-width:700px){ // patara Plansheti
    
        html{
            overflow-x: hidden; 
                body{
                    background-color: rgb(1, 43, 43);
                    background-image: linear-gradient(to bottom, transparent,rgb(12, 81, 66));
                    
            
            
                    nav{
                        position: sticky;
                        top: 0px;
                        text-shadow: 1px 1px 10px #000;
                        z-index: 3;
                        max-width: 100%;
                        height: 50px;
                        background-color: rgb(0, 29, 30);
                        border-radius: 20px;
                        padding: 5px;
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                        margin-top: -10px;
                        opacity: 90%;
            
            
            
                        
                        .menubutton{
                            background-color: transparent;
                            border: transparent;
                            cursor: pointer;
                            
                        }
            
                        .title{
                            position: relative;
                            display: table;
                            top: -45px;
                            margin: auto;
                            max-width: 130px;
                            cursor: pointer;
                            
                        }
            
                        #menu{
                            background-color: rgb(0, 29, 30);
                            height: 300px;
                            padding: 40px;
                            width: 200px;
                            margin-top: -50px;
                            margin-left: -4.9px;
                            border-bottom-left-radius: 20px;     
                            border-bottom-right-radius: 20px;   
                            z-index: 3; 
                            visibility: hidden;
                            a{
                                color: white;
                                text-decoration: none;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                font-weight: bold;
                                font-size: 2em;
                                box-sizing: border-box;
                                text-shadow: 20px;
                                z-index: 3;
                                
                            }
                            
                            .langbutton{
                                color: white;
                                font-weight: bold;
                                background-color: transparent;
                                border: transparent;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                padding: 0px;
                                font-size: 2em;
                                cursor: pointer;
                                text-shadow: 20px;
                                z-index: 3;
                            }
                        }
                    }
            


                  

                    
  
                    form{
                        margin-top: -50px;
                        max-width: 100%;
                        box-sizing: border-box;
                        height: 800px;
                        center{
                            padding: 50px;
                            text-align: start;
                            width: 100%;
                            margin: auto;
                            height: 800px;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            .top{
                                margin: auto;
                                text-align: center;
                                color: white;
                                font-size: 2.3em;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                letter-spacing: 0.3em;
                            }
                            .info{
                                width: 100%;
                                margin-top: 30px;
                                display: flex;
                                justify-content: center;
                                padding: 20px;
                                margin: auto;
                                color: white;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: bold;
                                gap: 10px;
                                hr{
                                    height: 50px;
                                }
                                a{
                                    margin-top: 23px;
                                    text-decoration: none;
                                    color: white;
                                }
                                img{
                                    margin-top: 10px;
                                    width: 50px;
                                    height: 50px;
                                }
                            }

                            p{
                                color: white;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: lighter;
                                text-align: center;
                                font-size: 2em;
                            }



                            .message{
                                display: flex;
                                flex-direction: column;
                                padding: 20px;
                                height: 500px;
                                gap: 10px;
                                color: white;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: bold;
                                input{
                                    width: 300px;
                                    padding: 10px;
                                    border-radius: 10px;
                                    background-color:#20736f;
                                    border: 1px solid rgb(113, 113, 113);
                                    font-size: larger;
                                    color: white;
                                }   
                                textarea{
                                    height: 100%;
                                    resize: none;
                                    border-radius: 10px;
                                    background-color:#20736f;
                                    border: 1px solid rgb(113, 113, 113);
                                    padding: 10px;
                                    font-size: larger;
                                    color: white;

                                }
                                button{
                                    align-self: flex-end;
                                    width: 200px;
                                    height: 100px;
                                    font-size: larger;
                                    border-radius: 10px;
                                    border: 0px;
                                    background-color:#20736f;
                                    border: 1px solid rgb(113, 113, 113);
                                    color: white;
                                    font-size: normal;
                                    font-weight: bold;
                                    cursor: pointer;
                                }
                            }

                        }
                    }
                








                    
                    footer{
                        width: 100%;
                        background-color: #22383b;
                        height: 150px;
                        margin-bottom: 0px;
    
                        .end{
                            width: 100%;
                            height: 40%;
                            margin: auto;
                            hr{
                                border: 1px solid rgb(67, 67, 67);
                            }
                            .ender{
                                padding: 10px;
                                display: flex;
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                gap: 20px;
                                color: rgb(180, 180, 180);
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-size: 1em;
                                text-align: center;
                                img{
                                    opacity: 50%;
                                }
                            }
                        }
                    }
                    margin: 0px;
                    
    
    
                }
    
            
            }
        
    }
    
    
    
    @media screen and (min-width: 900px){ // DIDI PLANSHETI
    
        html{
            overflow-x: hidden; 
                body{
                    background-color: #25506a;
                    background-image: linear-gradient(to top, rgb(40, 70, 113), rgb(10, 42, 80));  
                    zoom: 100%;
    
                    nav{
                        top: 0px;
                        flex-basis: 0;
                        max-width: 40%;
                        height: 60px;
                        background-color: rgb(0, 29, 30);
                        border-radius: 20px;
                        padding: 5px;
                        margin: auto;
                        opacity: 50%;
                        position: sticky;
                        top: 10px;
                        box-sizing: border-box;
                        transition: 0.2s;
    
                        
                        
                        .menubutton{
                            background-color: transparent;
                            border: transparent;
                            cursor: pointer;
                            opacity: 100%;
                            transition: 0.2s;
    
                            
                        }
                        .menubutton:hover{
                            background-color: transparent;
                            border: transparent;
                            cursor: pointer;
                            opacity: 100%;
                            transition: 0.2s;
    
                            
                        }
    
            
                        .title{
                            margin-right: 20px;
                            max-width: 130px;
                            opacity: 100%;
                            cursor: pointer;
                            transition: 0.2s;
    
                        }
    
                    
                        #menu{
                            margin-top: -20px;
                            width: 100px;
                            height: 190px;
                            background-color: rgb(0, 29, 30);
                            border-radius: 10px;
                            padding: 20px;
                            z-index: 2;
                            visibility: hidden;
    
                            a{
                                color: white;
                                text-decoration: none;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                font-weight: bold;
                                font-size: 1em;
                                
                            }
                            
                            .langbutton{
                                color: white;
                                font-weight: bold;
                                background-color: transparent;
                                border: transparent;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                padding: 0px;
                                font-size: 1.05em;
                                cursor: pointer;
                            }
                        
                            
                        }
                        
                    }
                    nav:hover{
                        
                        max-width: 42%;
                        height: 60px;
                        background-color: rgb(0, 29, 30);
                        border-radius: 20px;
                        padding: 5px;
                        margin: auto;
                        opacity: 70%;
                        position: sticky;
                        top: 10px;
                        box-sizing: border-box;
                        transition: 0.2s;
                        animation: scrol;
                        animation-timeline: scroll;
                    }
                
                    header{
                        position: relative;
                        top: 20px;
                        display: flex;
                        visibility:visible;
                        margin: auto;
                        max-width: 90%;
                        background-image: linear-gradient(to right, #3B6491, #0F216E); 
                        justify-content: space-evenly;
                        text-align: center;
                        border: transparent;
                        border: 1px solid #204873;
                        max-height: 40px;
    
                        .tabs{
                            
                            padding: 10px;
                            background-color: transparent;
                            display: flex;
                            width: 100%;
                            text-align: center;
                            border: transparent;
                            color: white;
                            font-weight: bold;
                            font-family:Arial, Helvetica, sans-serif;
                            cursor: pointer;
                            font-size: 1.1em;
    
                        }
    
                        .tabs:hover{
                            padding: 10px;
                            background-image: linear-gradient(to right, #37749a, transparent); 
                            display: flex;
                            width: 100%;
                            text-align: center;
                            border: transparent;
    
                        }
                        .tabs2{
                            
                            padding: 5px;
                            background-color: transparent;
                            display: flex;
                            width: 100%;
                            text-align: center;
                            border: transparent;
                            color: white;
                            font-weight: bold;
                            font-family:Arial, Helvetica, sans-serif;
    
                        }
    
                    }
                    







  
                    form{
                        margin-top: 50px;
                        max-width: 100%;
                        box-sizing: border-box;
                        height: 800px;
                        center{
                            padding: 50px;
                            text-align: start;
                            width: 100%;
                            margin: auto;
                            height: 800px;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            .top{
                                margin: auto;
                                text-align: center;
                                color: white;
                                font-size: 2.3em;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                letter-spacing: 0.3em;
                            }
                            .info{
                                width: 90%;
                                margin-top: 30px;
                                display: flex;
                                justify-content: center;
                                padding: 20px;
                                margin: auto;
                                color: white;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: bold;
                                gap: 10px;
                                hr{
                                    height: 50px;
                                }
                                a{
                                    margin-top: 23px;
                                    text-decoration: none;
                                    color: white;
                                }
                                img{
                                    margin-top: 10px;
                                    width: 50px;
                                    height: 50px;
                                }
                            }

                            p{
                                color: white;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: lighter;
                                text-align: center;
                                font-size: 2em;
                            }



                            .message{
                                display: flex;
                                flex-direction: column;
                                padding: 20px;
                                height: 500px;
                                gap: 10px;
                                color: white;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: bold;
                                input{
                                    width: 300px;
                                    padding: 10px;
                                    border-radius: 10px;
                                    background-color:#204873;
                                    border: 1px solid rgb(113, 113, 113);
                                    font-size: larger;
                                    color: white;
                                }   
                                textarea{
                                    height: 100%;
                                    resize: none;
                                    border-radius: 10px;
                                    background-color:#204873;
                                    border: 1px solid rgb(113, 113, 113);
                                    padding: 10px;
                                    font-size: larger;
                                    color: white;

                                }
                                button{
                                    align-self: flex-end;
                                    width: 200px;
                                    height: 100px;
                                    font-size: larger;
                                    border-radius: 10px;
                                    border: 0px;
                                    background-color:#204873;
                                    border: 1px solid rgb(113, 113, 113);
                                    color: white;
                                    font-size: normal;
                                    font-weight: bold;
                                    cursor: pointer;
                                }
                            }

                        }
                    }
                














                    footer{
                        width: 100%;
                        background-color: #222e3b;
                        height: 150px;
                        margin-bottom: 0px;
    
                        .end{
                            width: 60%;
                            height: 40%;
                            margin: auto;
                            hr{
                                border: 1px solid rgb(67, 67, 67);
                            }
                            .ender{
                                padding: 10px;
                                display: flex;
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                gap: 20px;
                                color: rgb(180, 180, 180);
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-size: 1em;
                                text-align: center;
                                img{
                                    opacity: 50%;
                                }
                            }
                        }
                    }
                    margin: 0px;
                    
    
                }
    
    
    
    
                    
            }
            
    
    }
    
    
    
    @media screen and (min-width: 1220px){ // KOMPI
    
        html{
            overflow-x: hidden; 
                body{
                    background-color: #25506a;
                    background-image: linear-gradient(to top, rgb(40, 70, 113), rgb(10, 42, 80));  
                    zoom: 100%;
                    background-color: #25506a;
    
    
                    nav{
                        top: 0px;
                        flex-basis: 0;
                        max-width: 40%;
                        height: 60px;
                        background-color: rgb(0, 29, 30);
                        border-radius: 20px;
                        padding: 5px;
                        margin: auto;
                        opacity: 50%;
                        position: sticky;
                        top: 10px;
                        box-sizing: border-box;
                        transition: 0.2s;
    
                        
                        
                        .menubutton{
                            background-color: transparent;
                            border: transparent;
                            cursor: pointer;
                            opacity: 100%;
                            transition: 0.2s;
    
                            
                        }
                        .menubutton:hover{
                            background-color: transparent;
                            border: transparent;
                            cursor: pointer;
                            opacity: 100%;
                            transition: 0.2s;
    
                            
                        }
    
            
                        .title{
                            margin-right: 20px;
                            max-width: 130px;
                            opacity: 100%;
                            cursor: pointer;
                            transition: 0.2s;
    
                        }
    
    
                    
                        #menu{
                            margin-top: -20px;
                            width: 100px;
                            height: 190px;
                            background-color: rgb(0, 29, 30);
                            border-radius: 10px;
                            padding: 20px;
                            z-index: 2;
                            visibility: hidden;
    
                            a{
                                color: white;
                                text-decoration: none;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                font-weight: bold;
                                font-size: 1em;
                                
                            }
                            
                            .langbutton{
                                color: white;
                                font-weight: bold;
                                background-color: transparent;
                                border: transparent;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                padding: 0px;
                                font-size: 1.05em;
                                cursor: pointer;
                            }
                        
                            
                        }
                        
                    }
                    nav:hover{
                        
                        max-width: 42%;
                        height: 60px;
                        background-color: rgb(0, 29, 30);
                        border-radius: 20px;
                        padding: 5px;
                        margin: auto;
                        opacity: 70%;
                        position: sticky;
                        top: 10px;
                        box-sizing: border-box;
                        transition: 0.2s;
                        animation: scrol;
                        animation-timeline: scroll;
                    }
                    
                    header{
                        position: relative;
                        top: 20px;
                        display: flex;
                        visibility:visible;
                        margin: auto;
                        max-width: 70%;
                        background-image: linear-gradient(to right, #3B6491, #0F216E); 
                        justify-content: space-evenly;
                        text-align: center;
                        border: transparent;
                        border: 1px solid #204873;
                        max-height: 40px;
    
                        .tabs{
                            
                            padding: 10px;
                            background-color: transparent;
                            display: flex;
                            width: 100%;
                            text-align: center;
                            border: transparent;
                            color: white;
                            font-weight: bold;
                            font-family:Arial, Helvetica, sans-serif;
                            cursor: pointer;
    
                        }
    
                        .tabs:hover{
                            padding: 10px;
                            background-image: linear-gradient(to right, #37749a, transparent); 
                            display: flex;
                            width: 100%;
                            text-align: center;
                            border: transparent;
    
                        }
                        .tabs2{
                            
                            padding: 5px;
                            background-color: transparent;
                            display: flex;
                            width: 100%;
                            text-align: center;
                            border: transparent;
                            color: white;
                            font-weight: bold;
                            font-family:Arial, Helvetica, sans-serif;
    
                        }
    
                    }
                    


                    
                    form{
                        margin-top: 50px;
                        max-width: 100%;
                        box-sizing: border-box;
                        height: 800px;
                        center{
                            padding: 50px;
                            text-align: start;
                            width: 1200px;
                            margin: auto;
                            height: 800px;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            .top{
                                margin: auto;
                                text-align: center;
                                color: white;
                                font-size: 2.3em;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                letter-spacing: 0.3em;
                            }
                            .info{
                                width: 70%;
                                margin-top: 30px;
                                display: flex;
                                justify-content: center;
                                padding: 20px;
                                margin: auto;
                                color: white;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: bold;
                                gap: 10px;
                                hr{
                                    height: 50px;
                                }
                                a{
                                    margin-top: 23px;
                                    text-decoration: none;
                                    color: white;
                                }
                                img{
                                    margin-top: 10px;
                                    width: 50px;
                                    height: 50px;
                                }
                            }

                            p{
                                color: white;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: lighter;
                                text-align: center;
                                font-size: 2em;
                            }



                            .message{
                                margin: auto;
                                display: flex;
                                flex-direction: column;
                                padding: 20px;
                                height: 500px;
                                width: 800px;
                                gap: 10px;
                                color: white;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: bold;
                                input{
                                    width: 300px;
                                    padding: 10px;
                                    border-radius: 10px;
                                    background-color:#204873;
                                    border: 1px solid rgb(113, 113, 113);
                                    font-size: larger;
                                    color: white;
                                }   
                                textarea{
                                    height: 100%;
                                    resize: none;
                                    border-radius: 10px;
                                    background-color:#204873;
                                    border: 1px solid rgb(113, 113, 113);
                                    padding: 10px;
                                    font-size: larger;
                                    color: white;

                                }
                                button{
                                    align-self: flex-end;
                                    width: 200px;
                                    height: 100px;
                                    font-size: larger;
                                    border-radius: 10px;
                                    border: 0px;
                                    background-color:#204873;
                                    border: 1px solid rgb(113, 113, 113);
                                    color: white;
                                    font-size: normal;
                                    font-weight: bold;
                                }
                            }

                        }
                    }
                


                






                    footer{
                        width: 100%;
                        background-color: #222e3b;
                        height: 150px;
                        margin-bottom: 0px;
    
                        .end{
                            width: 60%;
                            height: 40%;
                            margin: auto;
                            hr{
                                border: 1px solid rgb(67, 67, 67);
                            }
                            .ender{
                                padding: 10px;
                                display: flex;
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                gap: 20px;
                                color: rgb(180, 180, 180);
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-size: 1.34em;
                                text-align: center;
                                img{
                                    opacity: 50%;
                                }
                            }
                        }
                    }
    
    
                    
                    margin: 0px;
                    
    
                }
    
    
    
    
                    
            }   
            
    
    }