html {
  overflow-x: hidden;
}
html body {
  background-color: rgb(1, 43, 43);
  background-image: linear-gradient(rgb(2, 54, 54), rgb(1, 43, 43));
  margin: 0px;
}
html body nav {
  position: sticky;
  top: 0px;
  text-shadow: 1px 1px 10px #000;
  z-index: 3;
  max-width: 100%;
  height: 50px;
  background-color: rgb(0, 29, 30);
  border-radius: 20px;
  padding: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: -10px;
  opacity: 90%;
}
html body nav .menubutton {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
html body nav .title {
  position: relative;
  display: table;
  top: -45px;
  margin: auto;
  max-width: 130px;
  cursor: pointer;
}
html body nav #menu {
  background-color: rgb(0, 29, 30);
  height: 300px;
  padding: 40px;
  width: 200px;
  margin-top: -50px;
  margin-left: -4.9px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 3;
  visibility: hidden;
}
html body nav #menu a {
  color: white;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 2em;
  box-sizing: border-box;
  text-shadow: 20px;
  z-index: 3;
}
html body nav #menu .langbutton {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: transparent;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0px;
  font-size: 2em;
  cursor: pointer;
  text-shadow: 20px;
  z-index: 3;
}
html body .category {
  visibility: hidden;
}
html body main {
  position: relative;
  z-index: 1;
  height: 300px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
  max-width: 500px;
}
html body main .carousel {
  position: relative;
  top: -340px;
  width: 100%;
  max-width: 470px;
  overflow: hidden;
  margin: auto;
  border-radius: 10px;
  transition: 0.2s;
}
html body main .carousel .carousel-container {
  display: flex;
  padding: 6px;
  border-radius: 10px;
  max-height: 300px;
  transition: transform 0.5s ease-in-out;
  margin-left: -10px;
}
html body main .carousel .carousel-container .carousel-slide {
  transition: 0.2s;
  min-width: 100%;
  background-image: linear-gradient(to right, #0a7573, #013e3c);
  padding: 5px;
  margin-left: 7px;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
html body main .carousel .carousel-container .carousel-slide img {
  margin: auto;
  max-height: 70%;
  display: block;
  border-radius: 10px;
}
html body main .carousel .carousel-container .carousel-slide button {
  position: absolute;
  right: 7%;
  bottom: 10%;
  padding: 10px;
  border-radius: 0px;
  border: transparent;
  background-image: linear-gradient(to right, #0eba14, #0a8449);
  color: white;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
}
html body main .carousel .carousel-container .carousel-slide button:hover {
  background-image: linear-gradient(to right, #12d219, #0ba259);
}
html body main .carousel .carousel-button {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
}
html body main .carousel .carousel-button.prev {
  left: 10px;
}
html body main .carousel .carousel-button.next {
  right: 10px;
}
html body .hot {
  position: relative;
  top: 10px;
  display: flex;
  max-width: 100%;
  height: 330px;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
html body .hot .hottab {
  max-width: 200px;
  background-color: #222e3b;
}
html body .hot .hottab img {
  max-width: 200px;
}
html body .hot .hottab span {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding: 15px;
}
html body .hot .hottab span .hotbuy {
  position: relative;
  left: 50px;
  bottom: 10px;
  background-image: linear-gradient(to right, #0eba14, #0a8449);
  color: white;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  padding: 10px;
  border-radius: 0px;
  border: transparent;
}
html body .hot .hottab span .hotbuy:hover {
  background-image: linear-gradient(to right, #12d219, #0ba259);
}
html body .explore {
  margin: 0px;
  padding: 0px;
  height: 1000px;
  width: 100%;
  margin-top: 700px;
}
html body .explore .span {
  color: rgb(182, 255, 232);
  font-size: 2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  text-align: center;
}
html body .explore .explorecenter {
  zoom: 80%;
  display: flex;
  width: 500px;
  height: 850px;
  margin: auto;
  flex-direction: column;
  gap: 10px;
}
html body .explore .explorecenter .exploregames {
  background-image: linear-gradient(to right, #0a7573, #013e3c);
  min-height: 160px;
  display: flex;
  border-radius: 10px;
}
html body .explore .explorecenter .exploregames span {
  padding: 15px;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  max-height: 100px;
  font-weight: bold;
  min-width: 300px;
  max-width: 300px;
  box-sizing: border-box;
}
html body .explore .explorecenter .exploregames span span {
  color: yellowgreen;
  font-weight: lighter;
  font-size: 1em;
}
html body .explore .explorecenter .exploregames img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-right: 3px rgb(95, 175, 141) solid;
  max-width: 200px;
}
html body .explore .explorecenter .exploregames button {
  background-image: linear-gradient(to right, #0eba14, #0a8449);
  color: white;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  min-width: 130px;
  height: 40px;
  padding: 10px;
  border-radius: 0px;
  border: transparent;
  font-size: 1em;
  position: relative;
  right: 200px;
  top: 100px;
}
html body .explore .explorecenter .exploregames button:hover {
  background-image: linear-gradient(to right, #12d219, #0ba259);
  cursor: pointer;
}
html body footer {
  width: 100%;
  background-color: #22383b;
  height: 150px;
  margin-bottom: 0px;
}
html body footer .end {
  width: 100%;
  height: 30%;
  margin: auto;
}
html body footer .end hr {
  border: 1px solid rgb(67, 67, 67);
}
html body footer .end .ender {
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  gap: 20px;
  color: rgb(180, 180, 180);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  text-align: center;
}
html body footer .end .ender img {
  opacity: 50%;
}
html body header {
  visibility: hidden;
}

@media screen and (min-width: 700px) {
  html {
    overflow-x: hidden;
  }
  html body {
    background-color: rgb(1, 43, 43);
    background-image: linear-gradient(rgb(2, 54, 54), rgb(1, 43, 43));
    margin: 0px;
  }
  html body nav {
    position: sticky;
    top: 0px;
    text-shadow: 1px 1px 10px #000;
    z-index: 3;
    max-width: 100%;
    height: 50px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -10px;
    opacity: 90%;
  }
  html body nav .menubutton {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
  }
  html body nav .title {
    position: relative;
    display: table;
    top: -45px;
    margin: auto;
    max-width: 130px;
    cursor: pointer;
  }
  html body nav #menu {
    background-color: rgb(0, 29, 30);
    height: 300px;
    padding: 40px;
    width: 200px;
    margin-top: -50px;
    margin-left: -4.9px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 3;
    visibility: hidden;
  }
  html body nav #menu a {
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2em;
    box-sizing: border-box;
    text-shadow: 20px;
    z-index: 3;
  }
  html body nav #menu .langbutton {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0px;
    font-size: 2em;
    cursor: pointer;
    text-shadow: 20px;
    z-index: 3;
  }
  html body .category {
    display: flex;
    flex-direction: column;
    padding: 10px;
    visibility: visible;
    width: 270px;
    height: 560px;
    gap: 10px;
  }
  html body .category span {
    color: #6292c6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 0.8em;
  }
  html body .category .categorybutton {
    color: rgb(193, 193, 193);
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
  }
  html body main {
    position: relative;
    z-index: 1;
    height: 300px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    transition: 0.2s;
    margin: auto;
  }
  html body main .carousel {
    position: relative;
    top: -600px;
    width: 100%;
    max-width: 470px;
    overflow: hidden;
    margin-right: 1%;
    border-radius: 10px;
    transition: 0.2s;
  }
  html body main .carousel .carousel-container {
    display: flex;
    padding: 6px;
    border-radius: 10px;
    max-height: 300px;
    transition: transform 0.5s ease-in-out;
  }
  html body main .carousel .carousel-container .carousel-slide {
    transition: 0.2s;
    min-width: 100%;
    background-image: linear-gradient(to right, #0a7573, #013e3c);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
  }
  html body main .carousel .carousel-container .carousel-slide img {
    margin: auto;
    max-height: 70%;
    display: block;
    border-radius: 10px;
  }
  html body main .carousel .carousel-container .carousel-slide button {
    position: absolute;
    right: 7%;
    bottom: 10%;
    padding: 10px;
    border-radius: 0px;
    border: transparent;
    background-image: linear-gradient(to right, #0eba14, #0a8449);
    color: white;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    cursor: pointer;
  }
  html body main .carousel .carousel-container .carousel-slide button:hover {
    background-image: linear-gradient(to right, #12d219, #0ba259);
  }
  html body main .carousel .carousel-button {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
  }
  html body main .carousel .carousel-button.prev {
    left: 10px;
  }
  html body main .carousel .carousel-button.next {
    right: 10px;
  }
  html body header {
    visibility: hidden;
  }
  html body .hot {
    position: relative;
    top: 80px;
    left: 25%;
    display: flex;
    max-width: 70%;
    height: 330px;
    gap: 5px;
    padding: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
  }
  html body .hot .hottab {
    max-width: 200px;
    background-color: #222e3b;
  }
  html body .hot .hottab img {
    max-width: 200px;
  }
  html body .hot .hottab span {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 15px;
  }
  html body .hot .hottab span .hotbuy {
    position: relative;
    left: 50px;
    bottom: 10px;
    background-image: linear-gradient(to right, #0eba14, #0a8449);
    color: white;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    cursor: pointer;
    padding: 10px;
    border-radius: 0px;
    border: transparent;
  }
  html body .hot .hottab span .hotbuy:hover {
    background-image: linear-gradient(to right, #12d219, #0ba259);
  }
  html body .explore {
    margin: 0px;
    padding: 0px;
    height: 1000px;
    width: 100%;
    margin-top: 430px;
  }
  html body .explore .span {
    color: rgb(182, 255, 232);
    font-size: 2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-align: center;
  }
  html body .explore .explorecenter {
    display: flex;
    width: 700px;
    height: 850px;
    margin: auto;
    flex-direction: column;
    gap: 10px;
  }
  html body .explore .explorecenter .exploregames {
    background-image: linear-gradient(to right, #0a7573, #013e3c);
    min-height: 160px;
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
  }
  html body .explore .explorecenter .exploregames span {
    padding: 15px;
    color: whitesmoke;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
    min-width: 300px;
    max-width: 300px;
    box-sizing: border-box;
    font-size: 1.5em;
  }
  html body .explore .explorecenter .exploregames span span {
    color: yellowgreen;
    font-weight: lighter;
    font-size: 1em;
  }
  html body .explore .explorecenter .exploregames img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 3px rgb(95, 175, 141) solid;
    max-width: 200px;
  }
  html body .explore .explorecenter .exploregames button {
    margin: auto;
    background-image: linear-gradient(to right, #0eba14, #0a8449);
    color: white;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    cursor: pointer;
    width: 130px;
    height: 80px;
    padding: 10px;
    border-radius: 0px;
    border: transparent;
    font-size: 1.5em;
    display: block;
    overflow: hidden;
    position: relative;
    right: 0px;
    top: 0px;
  }
  html body .explore .explorecenter .exploregames button:hover {
    background-image: linear-gradient(to right, #12d219, #0ba259);
    cursor: pointer;
  }
  html body footer {
    width: 100%;
    background-color: #22383b;
    height: 150px;
    margin-bottom: 0px;
  }
  html body footer .end {
    width: 100%;
    height: 40%;
    margin: auto;
  }
  html body footer .end hr {
    border: 1px solid rgb(67, 67, 67);
  }
  html body footer .end .ender {
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: 20px;
    color: rgb(180, 180, 180);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-align: center;
  }
  html body footer .end .ender img {
    opacity: 50%;
  }
}
@media screen and (min-width: 900px) {
  html {
    overflow-x: hidden;
  }
  html body {
    background-color: #25506a;
    background-image: linear-gradient(to right, rgb(24, 49, 83), rgb(10, 42, 80));
    zoom: 100%;
    margin: 0px;
  }
  html body nav {
    top: 0px;
    flex-basis: 0;
    max-width: 40%;
    height: 60px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    opacity: 50%;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    transition: 0.2s;
  }
  html body nav .menubutton {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
  }
  html body nav .menubutton:hover {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
  }
  html body nav .title {
    margin-right: 20px;
    max-width: 130px;
    opacity: 100%;
    cursor: pointer;
    transition: 0.2s;
  }
  html body nav #menu {
    margin-top: -20px;
    width: 100px;
    height: 190px;
    background-color: rgb(0, 29, 30);
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
    visibility: hidden;
  }
  html body nav #menu a {
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
  html body nav #menu .langbutton {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0px;
    font-size: 1.05em;
    cursor: pointer;
  }
  html body nav:hover {
    max-width: 42%;
    height: 60px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    opacity: 70%;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    transition: 0.2s;
    animation: scrol;
    animation-timeline: scroll;
  }
  html body main {
    max-height: 600px;
    position: relative;
    top: 40px;
    display: flex;
    max-width: 100%;
  }
  html body main .carousel {
    position: relative;
    top: 0px;
    left: -10%;
  }
  html body main .carousel .carousel-container .carousel-slide {
    background-image: linear-gradient(to right, #3B6491, #182873);
  }
  html body main .category {
    display: flex;
    flex-direction: column;
    padding: 10px;
    visibility: visible;
    width: 270px;
    height: 560px;
    gap: 10px;
  }
  html body main .category span {
    color: #6292c6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 0.8em;
  }
  html body main .category .categorybutton {
    color: rgb(193, 193, 193);
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
  }
  html body .hot {
    position: relative;
    top: 80px;
    left: 25%;
    display: flex;
    max-width: 70%;
    height: 330px;
    gap: 4px;
    padding: 10px;
    justify-content: space-between;
    flex-direction: row;
  }
  html body .hot .hottab {
    max-width: 200px;
    background-color: #222e3b;
  }
  html body .hot .hottab img {
    max-width: 200px;
  }
  html body .hot .hottab span {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 15px;
  }
  html body .hot .hottab span .hotbuy {
    position: relative;
    left: 50px;
    bottom: 10px;
    background-image: linear-gradient(to right, #0eba14, #0a8449);
    color: white;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    cursor: pointer;
    padding: 10px;
    border-radius: 0px;
    border: transparent;
  }
  html body .hot .hottab span .hotbuy:hover {
    background-image: linear-gradient(to right, #12d219, #0ba259);
  }
  html body header {
    position: relative;
    top: 20px;
    display: flex;
    visibility: visible;
    margin: auto;
    max-width: 90%;
    background-image: linear-gradient(to right, #3B6491, #0F216E);
    justify-content: space-evenly;
    text-align: center;
    border: transparent;
    border: 2px solid #0b2037;
    max-height: 40px;
  }
  html body header .tabs {
    padding: 10px;
    background-color: transparent;
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 1.1em;
  }
  html body header .tabs:hover {
    padding: 10px;
    background-image: linear-gradient(to right, #37749a, transparent);
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
  }
  html body header .tabs2 {
    padding: 5px;
    background-color: transparent;
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  html body .explore {
    height: 1000px;
    width: 100%;
    margin-top: 100px;
  }
  html body .explore .span {
    color: rgb(182, 210, 255);
    font-size: 2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-align: center;
  }
  html body .explore .explorecenter {
    display: flex;
    width: 900px;
    height: 850px;
    margin: auto;
    flex-direction: column;
    gap: 10px;
  }
  html body .explore .explorecenter .exploregames {
    background-image: linear-gradient(to left, rgb(53, 84, 107), rgb(19, 54, 90));
    height: 80px;
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
  }
  html body .explore .explorecenter .exploregames span {
    padding: 20px;
    color: whitesmoke;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    min-width: 390px;
  }
  html body .explore .explorecenter .exploregames span span {
    color: yellowgreen;
    font-weight: lighter;
    font-size: 1em;
  }
  html body .explore .explorecenter .exploregames img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 3px rgb(138, 167, 220) solid;
  }
  html body .explore .explorecenter .exploregames button {
    height: 60px;
    background-image: linear-gradient(to right, #0eba14, #0a8449);
    color: white;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    cursor: pointer;
    width: 100px;
    padding: 10px;
    border-radius: 0px;
    border: transparent;
    margin-top: 30px;
    font-size: 1.1em;
    display: block;
    overflow: hidden;
    position: relative;
    top: 20px;
    left: 0px;
    right: 0px;
  }
  html body .explore .explorecenter .exploregames button:hover {
    background-image: linear-gradient(to right, #12d219, #0ba259);
    cursor: pointer;
  }
  html body footer {
    width: 100%;
    background-color: #222e3b;
    height: 150px;
    margin-bottom: 0px;
  }
  html body footer .end {
    width: 60%;
    height: 40%;
    margin: auto;
  }
  html body footer .end hr {
    border: 1px solid rgb(67, 67, 67);
  }
  html body footer .end .ender {
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: 20px;
    color: rgb(180, 180, 180);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-align: center;
  }
  html body footer .end .ender img {
    opacity: 50%;
  }
}
@media screen and (min-width: 1220px) {
  html {
    overflow-x: hidden;
  }
  html body {
    background-image: linear-gradient(to right, rgb(24, 49, 83), rgb(10, 42, 80));
    zoom: 125%;
    background-color: #25506a;
    margin: 0px;
  }
  html body nav {
    top: 0px;
    flex-basis: 0;
    max-width: 40%;
    height: 60px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    opacity: 50%;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    transition: 0.2s;
  }
  html body nav .menubutton {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
  }
  html body nav .menubutton:hover {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
  }
  html body nav .title {
    margin-right: 20px;
    max-width: 130px;
    opacity: 100%;
    cursor: pointer;
    transition: 0.2s;
  }
  html body nav #menu {
    margin-top: -20px;
    width: 100px;
    height: 190px;
    background-color: rgb(0, 29, 30);
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
    visibility: hidden;
  }
  html body nav #menu a {
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
  html body nav #menu .langbutton {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0px;
    font-size: 1.05em;
    cursor: pointer;
  }
  html body nav:hover {
    max-width: 42%;
    height: 60px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    opacity: 70%;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    transition: 0.2s;
    animation: scrol;
    animation-timeline: scroll;
  }
  html body main {
    max-height: 600px;
    position: relative;
    top: 40px;
    display: flex;
    max-width: 100%;
  }
  html body main .carousel {
    position: absolute;
    top: 0px;
    left: 410px;
    min-width: 700px;
  }
  html body main .carousel .carousel-container {
    min-height: 430px;
  }
  html body main .carousel .carousel-container button {
    margin-bottom: -15px;
  }
  html body main .carousel .carousel-container img {
    min-width: 600px;
    min-height: 350px;
  }
  html body main .carousel .carousel-container .carousel-slide {
    background-image: linear-gradient(to right, #3B6491, #182873);
  }
  html body main .category {
    display: flex;
    flex-direction: column;
    padding: 10px;
    visibility: visible;
    width: 270px;
    height: 560px;
    gap: 10px;
  }
  html body main .category span {
    color: #6292c6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 0.8em;
  }
  html body main .category .categorybutton {
    color: rgb(193, 193, 193);
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
  }
  html body .category {
    margin-left: 100px;
  }
  html body .hot {
    position: relative;
    top: 200px;
    left: 400px;
    display: flex;
    max-width: 700px;
    height: 330px;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
  }
  html body .hot .hottab {
    max-width: 200px;
    background-color: #222e3b;
  }
  html body .hot .hottab img {
    max-width: 200px;
  }
  html body .hot .hottab span {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 15px;
  }
  html body .hot .hottab span .hotbuy {
    position: relative;
    left: 70px;
    bottom: 10px;
    background-image: linear-gradient(to right, #0eba14, #0a8449);
    color: white;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    cursor: pointer;
    padding: 10px;
    border-radius: 0px;
    border: transparent;
  }
  html body .hot .hottab span .hotbuy:hover {
    background-image: linear-gradient(to right, #12d219, #0ba259);
  }
  html body header {
    position: relative;
    top: 20px;
    display: flex;
    visibility: visible;
    margin: auto;
    max-width: 70%;
    background-image: linear-gradient(to right, #3B6491, #0F216E);
    justify-content: space-evenly;
    text-align: center;
    border: transparent;
    border: 2px solid #0b2037;
    max-height: 40px;
  }
  html body header .tabs {
    padding: 10px;
    background-color: transparent;
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  html body header .tabs:hover {
    padding: 10px;
    background-image: linear-gradient(to right, #37749a, transparent);
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
  }
  html body header .tabs2 {
    padding: 5px;
    background-color: transparent;
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  html body .explore {
    height: 1000px;
    width: 100%;
    margin-top: 200px;
  }
  html body .explore .span {
    color: rgb(182, 210, 255);
    font-size: 2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-align: center;
  }
  html body .explore .explorecenter {
    display: flex;
    width: 1000px;
    height: 850px;
    margin: auto;
    flex-direction: column;
    gap: 10px;
  }
  html body .explore .explorecenter .exploregames {
    background-image: linear-gradient(to left, rgb(53, 84, 107), rgb(19, 54, 90));
    height: 100px;
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
  }
  html body .explore .explorecenter .exploregames span {
    padding: 20px;
    color: whitesmoke;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    min-width: 450px;
  }
  html body .explore .explorecenter .exploregames span span {
    color: yellowgreen;
    font-weight: lighter;
    font-size: 1em;
  }
  html body .explore .explorecenter .exploregames img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 3px rgb(138, 167, 220) solid;
    min-width: 300px;
  }
  html body .explore .explorecenter .exploregames button {
    height: 40px;
    background-image: linear-gradient(to right, #0eba14, #0a8449);
    color: white;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    cursor: pointer;
    width: 100px;
    padding: 10px;
    border-radius: 0px;
    border: transparent;
    margin: auto;
    font-size: 1.1em;
    display: block;
    overflow: hidden;
    position: relative;
    top: 0px;
  }
  html body .explore .explorecenter .exploregames button:hover {
    background-image: linear-gradient(to right, #12d219, #0ba259);
    cursor: pointer;
  }
  html body footer {
    width: 100%;
    background-color: #222e3b;
    height: 150px;
    margin-bottom: 0px;
  }
  html body footer .end {
    width: 60%;
    height: 40%;
    margin: auto;
  }
  html body footer .end hr {
    border: 1px solid rgb(67, 67, 67);
  }
  html body footer .end .ender {
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: 20px;
    color: rgb(180, 180, 180);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.34em;
    text-align: center;
  }
  html body footer .end .ender img {
    opacity: 50%;
  }
}/*# sourceMappingURL=home.css.map */