



html{ // TELE
overflow-x: hidden; 
    body{
        background-color: rgb(1, 43, 43);
        background-image: linear-gradient(rgb(2, 54, 54), rgb(1, 43, 43));  
        


        nav{
            position: sticky;
            top: 0px;
            text-shadow: 1px 1px 10px #000;
            z-index: 3;
            max-width: 100%;
            height: 50px;
            background-color: rgb(0, 29, 30);
            border-radius: 20px;
            padding: 5px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            margin-top: -10px;
            opacity: 90%;



            
            .menubutton{
                background-color: transparent;
                border: transparent;
                cursor: pointer;
                
            }

            .title{
                position: relative;
                display: table;
                top: -45px;
                margin: auto;
                max-width: 130px;
                cursor: pointer;
                
            }

            #menu{
                background-color: rgb(0, 29, 30);
                height: 300px;
                padding: 40px;
                width: 200px;
                margin-top: -50px;
                margin-left: -4.9px;
                border-bottom-left-radius: 20px;     
                border-bottom-right-radius: 20px;   
                z-index: 3; 
                visibility: hidden;
                a{
                    color: white;
                    text-decoration: none;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-weight: bold;
                    font-size: 2em;
                    box-sizing: border-box;
                    text-shadow: 20px;
                    z-index: 3;
                    
                }
                
                .langbutton{
                    color: white;
                    font-weight: bold;
                    background-color: transparent;
                    border: transparent;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    padding: 0px;
                    font-size: 2em;
                    cursor: pointer;
                    text-shadow: 20px;
                    z-index: 3;
                }
            }
        }

        .category{
            visibility: hidden;
        }


        main{
            position: relative;
            z-index: 1;
            height: 300px;
            max-width: 100%;
            box-sizing: border-box;
            padding: 10px;
            margin: auto;
            max-width: 500px;
            
            .carousel{
                position: relative;
                top: -340px;
                width: 100%;
                max-width: 470px;
                overflow: hidden;
                margin: auto;
                border-radius: 10px;
                transition: 0.2s;

                
                .carousel-container{
                    display: flex;
                    padding: 6px;
                    border-radius: 10px;
                    max-height: 300px;
                    transition: transform 0.5s ease-in-out;
                    margin-left: -10px;
                    
                    .carousel-slide{
                        transition: 0.2s;
                        min-width: 100%;
                        background-image: linear-gradient(to right, #0a7573, #013e3c);  
                        padding: 5px;
                        margin-left: 7px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: bolder;
                        img{   
                            margin: auto;
                            max-height: 70%;
                                display: block;
                            border-radius: 10px;

                        }
                        button{
                            position: absolute;
                            right: 7%;
                            bottom: 10%;
                            padding: 10px;
                            border-radius: 0px;
                            border:transparent;             
                            background-image:linear-gradient(to right, #0eba14, #0a8449);
                            color:  white;
                            font-weight: bold;
                            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            cursor: pointer; 
                            

                        }
                        button:hover{
                            background-image:linear-gradient(to right, #12d219, #0ba259); 
                        }
               
                    }
                }
            
                .carousel-button {
                    position: absolute;
                    top: 35%;
                    transform: translateY(-50%);
                    background-color: rgba(0, 0, 0, 0.5);
                    border: none;
                    color: white;
                    padding: 10px;
                    border-radius: 100px;
                    cursor: pointer;
            
                    &.prev {
                        left: 10px;
                    }
            
                    &.next {
                        right: 10px;
                    }
                }
            }
            

        }
        .hot{
            position: relative;
            top: 10px;
            display: flex;
            max-width: 100%;
            height: 330px;
            gap: 20px;
            flex-direction: column;
            align-items: center;
            .hottab{
                
                max-width: 200px;
                background-color: #222e3b;
                img{
                    max-width: 200px;
                }
                span{
                    color: white;
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: bold;
                    padding: 15px;
                    .hotbuy{
                        position: relative;
                        left: 50px;
                        bottom: 10px;
                        background-image:linear-gradient(to right, #0eba14, #0a8449);
                        color:  white;
                        font-weight: bold;
                        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        cursor: pointer;
                        padding: 10px;
                        border-radius: 0px;
                        border:transparent;
                        
                    }
                    .hotbuy:hover{
                        background-image:linear-gradient(to right, #12d219, #0ba259); 
                    }
                }
                
            }


        }


        .explore{
            margin: 0px;
            padding: 0px;
            height: 1000px;
            width: 100%;
            margin-top: 700px;
            .span{
                color: rgb(182, 255, 232);
                font-size: 2em;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: lighter;
                text-align: center;

            }

            .explorecenter{
                zoom: 80%;
                display: flex;
                width: 500px;
                height: 850px;
                margin: auto;
                flex-direction: column;
                gap: 10px;
                .exploregames{
                    background-image: linear-gradient(to right, #0a7573, #013e3c);  
                    min-height: 160px;
                    display: flex;
                    border-radius: 10px;
                    span{
                        padding: 15px;
                        color: whitesmoke;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-size: 1em;
                        max-height: 100px;
                        font-weight: bold;
                        min-width: 300px;
                        max-width: 300px;
                        box-sizing: border-box;
                        span{
                            color: yellowgreen;
                            font-weight: lighter;
                            font-size: 1em;

                        }
                    }
                    img{
                        border-bottom-left-radius: 10px;
                        border-top-left-radius: 10px;
                        border-right: 3px rgb(95, 175, 141) solid;
                        max-width: 200px;
                    }
                    button{
                        background-image:linear-gradient(to right, #0eba14, #0a8449);
                        color:  white;
                        font-weight: bold;
                        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        cursor: pointer;
                        min-width: 130px;
                        height: 40px;
                        padding: 10px;
                        border-radius: 0px;
                        border:transparent;
                        font-size: 1em;
                        position: relative;
                        right: 200px;
                        top: 100px;

                    }
                    button:hover{
                        background-image:linear-gradient(to right, #12d219, #0ba259); 
                        cursor: pointer;


                    }
                }
            }
        }
        footer{
            width: 100%;
            background-color: #22383b;
            height: 150px;
            margin-bottom: 0px;

            .end{
                width: 100%;
                height: 30%;
                margin: auto;
                hr{
                    border: 1px solid rgb(67, 67, 67);
                }
                .ender{
                    padding: 10px;
                    display: flex;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    gap: 20px;
                    color: rgb(180, 180, 180);
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 1em;
                    text-align: center;
                    img{
                        opacity: 50%;
                    }
                }
            }
        }
        margin: 0px;
        



        header{
            visibility: hidden;
        }
    }

}

@media screen and (min-width:700px){ // patara Plansheti

    html{
        overflow-x: hidden; 
            body{
                background-color: rgb(1, 43, 43);
                background-image: linear-gradient(rgb(2, 54, 54), rgb(1, 43, 43));  
                
        
        
                nav{
                    position: sticky;
                    top: 0px;
                    text-shadow: 1px 1px 10px #000;
                    z-index: 3;
                    max-width: 100%;
                    height: 50px;
                    background-color: rgb(0, 29, 30);
                    border-radius: 20px;
                    padding: 5px;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                    margin-top: -10px;
                    opacity: 90%;
        
        
        
                    
                    .menubutton{
                        background-color: transparent;
                        border: transparent;
                        cursor: pointer;
                        
                    }
        
                    .title{
                        position: relative;
                        display: table;
                        top: -45px;
                        margin: auto;
                        max-width: 130px;
                        cursor: pointer;
                        
                    }
        
                    #menu{
                        background-color: rgb(0, 29, 30);
                        height: 300px;
                        padding: 40px;
                        width: 200px;
                        margin-top: -50px;
                        margin-left: -4.9px;
                        border-bottom-left-radius: 20px;     
                        border-bottom-right-radius: 20px;   
                        z-index: 3; 
                        visibility: hidden;
                        a{
                            color: white;
                            text-decoration: none;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            font-weight: bold;
                            font-size: 2em;
                            box-sizing: border-box;
                            text-shadow: 20px;
                            z-index: 3;
                            
                        }
                        
                        .langbutton{
                            color: white;
                            font-weight: bold;
                            background-color: transparent;
                            border: transparent;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            padding: 0px;
                            font-size: 2em;
                            cursor: pointer;
                            text-shadow: 20px;
                            z-index: 3;
                        }
                    }
                }
        
                .category{
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    visibility: visible;
                    width: 270px;
                    height: 560px;
                    gap: 10px;
                    span{
                        color:#6292c6;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: bolder;
                        font-size: 0.8em;
                    }
                    .categorybutton{
                        color: rgb(193, 193, 193);
                        text-decoration: none;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: bold;
                        font-size: 0.9em;

                    }

                }
        
        
                main{
                    position: relative;
                    z-index: 1;
                    height: 300px;
                    max-width: 100%;
                    box-sizing: border-box;
                    padding: 10px;
                    transition: 0.2s;
                    margin: auto;
                    .carousel{
                        position: relative;
                        top: -600px;
                        width: 100%;
                        max-width: 470px;
                        overflow: hidden;
                        margin-right: 1%;
                        border-radius: 10px;
                        transition: 0.2s;
        
                        
                        .carousel-container{
                            display: flex;
                            padding: 6px;
                            border-radius: 10px;
                            max-height: 300px;
                            transition: transform 0.5s ease-in-out;
                            
                            .carousel-slide{
                                transition: 0.2s;
                                min-width: 100%;
                                background-image: linear-gradient(to right, #0a7573, #013e3c);  
                                padding: 5px;
                                box-sizing: border-box;
                                border-radius: 10px;
                                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: bolder;
                                img{   
                                    margin: auto;
                                    max-height: 70%;
                                        display: block;
                                    border-radius: 10px;
        
                                }
                                button{
                                    position: absolute;
                                    right: 7%;
                                    bottom: 10%;
                                    padding: 10px;
                                    border-radius: 0px;
                                    border:transparent;             
                                    background-image:linear-gradient(to right, #0eba14, #0a8449);
                                    color:  white;
                                    font-weight: bold;
                                    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                    cursor: pointer; 
                                    
        
                                }
                                button:hover{
                                    background-image:linear-gradient(to right, #12d219, #0ba259); 
                                }
                       
                            }
                        }
                    
                        .carousel-button {
                            position: absolute;
                            top: 35%;
                            transform: translateY(-50%);
                            background-color: rgba(0, 0, 0, 0.5);
                            border: none;
                            color: white;
                            padding: 10px;
                            border-radius: 100px;
                            cursor: pointer;
                    
                            &.prev {
                                left: 10px;
                            }
                    
                            &.next {
                                right: 10px;
                            }
                        }
                    }
        
                }
                header{
                    visibility: hidden;
                }
                .hot{
                    position: relative;
                    top:80px;
                    left: 25%;
                    display: flex;
                    max-width: 70%;
                    height: 330px;
                    gap: 5px;
                    padding: 10px;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    flex-direction: row;

                    .hottab{
                        
                        max-width: 200px;
                        background-color: #222e3b;
                        img{
                            max-width: 200px;
                        }
                        span{
                            color: white;
                            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-weight: bold;
                            padding: 15px;
                            .hotbuy{
                                position: relative;
                                left: 50px;
                                bottom: 10px;
                                background-image:linear-gradient(to right, #0eba14, #0a8449);
                                color:  white;
                                font-weight: bold;
                                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                cursor: pointer;
                                padding: 10px;
                                border-radius: 0px;
                                border:transparent;
                                
                            }
                            .hotbuy:hover{
                                background-image:linear-gradient(to right, #12d219, #0ba259); 
                            }
                        }
                        
                    }


                }
                .explore{
                    margin: 0px;
                    padding: 0px;
                    height: 1000px;
                    width: 100%;
                    margin-top: 430px;
                    .span{
                        color: rgb(182, 255, 232);
                        font-size: 2em;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: lighter;
                        text-align: center;

                    }

                    .explorecenter{
                        display: flex;
                        width: 700px;
                        height: 850px;
                        margin: auto;
                        flex-direction: column;
                        gap: 10px;
                        .exploregames{
                            background-image: linear-gradient(to right, #0a7573, #013e3c);  
                            min-height: 160px;
                            display: flex;
                            border-radius: 10px;
                            box-sizing: border-box;
                            span{
                                padding: 15px;
                                color: whitesmoke;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-size: 2em;
                                font-weight: bold;
                                min-width: 300px;
                                max-width: 300px;
                                box-sizing: border-box;
                                font-size: 1.5em;
                                span{
                                    color: yellowgreen;
                                    font-weight: lighter;
                                    font-size: 1em;

                                }
                            }
                            img{
                                border-bottom-left-radius: 10px;
                                border-top-left-radius: 10px;
                                border-right: 3px rgb(95, 175, 141) solid;
                                max-width: 200px;
                            }
                            button{
                                margin: auto;
                                background-image:linear-gradient(to right, #0eba14, #0a8449);
                                color:  white;
                                font-weight: bold;
                                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                cursor: pointer;
                                width: 130px;
                                height: 80px;
                                padding: 10px;
                                border-radius: 0px;
                                border:transparent;
                                font-size: 1.5em;
                                display: block;
                                overflow: hidden;
                                position: relative;
                                right: 0px;
                                top: 0px;
                            }
                            button:hover{
                                background-image:linear-gradient(to right, #12d219, #0ba259); 
                                cursor: pointer;


                            }
                        }
                    }
                }
                footer{
                    width: 100%;
                    background-color: #22383b;
                    height: 150px;
                    margin-bottom: 0px;

                    .end{
                        width: 100%;
                        height: 40%;
                        margin: auto;
                        hr{
                            border: 1px solid rgb(67, 67, 67);
                        }
                        .ender{
                            padding: 10px;
                            display: flex;
                            box-sizing: border-box;
                            width: 100%;
                            height: 100%;
                            gap: 20px;
                            color: rgb(180, 180, 180);
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 1em;
                            text-align: center;
                            img{
                                opacity: 50%;
                            }
                        }
                    }
                }
                margin: 0px;
                


            }

        
        }
    
}



@media screen and (min-width: 900px){ // DIDI PLANSHETI

    html{
        overflow-x: hidden; 
            body{
                background-color: #25506a;
                background-image: linear-gradient(to right, rgb(24, 49, 83), rgb(10, 42, 80));  
                zoom: 100%;

                nav{
                    top: 0px;
                    flex-basis: 0;
                    max-width: 40%;
                    height: 60px;
                    background-color: rgb(0, 29, 30);
                    border-radius: 20px;
                    padding: 5px;
                    margin: auto;
                    opacity: 50%;
                    position: sticky;
                    top: 10px;
                    box-sizing: border-box;
                    transition: 0.2s;

                    
                    
                    .menubutton{
                        background-color: transparent;
                        border: transparent;
                        cursor: pointer;
                        opacity: 100%;
                        transition: 0.2s;

                        
                    }
                    .menubutton:hover{
                        background-color: transparent;
                        border: transparent;
                        cursor: pointer;
                        opacity: 100%;
                        transition: 0.2s;

                        
                    }

        
                    .title{
                        margin-right: 20px;
                        max-width: 130px;
                        opacity: 100%;
                        cursor: pointer;
                        transition: 0.2s;

                    }

                
                    #menu{
                        margin-top: -20px;
                        width: 100px;
                        height: 190px;
                        background-color: rgb(0, 29, 30);
                        border-radius: 10px;
                        padding: 20px;
                        z-index: 2;
                        visibility: hidden;

                        a{
                            color: white;
                            text-decoration: none;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            font-weight: bold;
                            font-size: 1em;
                            
                        }
                        
                        .langbutton{
                            color: white;
                            font-weight: bold;
                            background-color: transparent;
                            border: transparent;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            padding: 0px;
                            font-size: 1.05em;
                            cursor: pointer;
                        }
                    
                        
                    }
                    
                }
                nav:hover{
                    
                    max-width: 42%;
                    height: 60px;
                    background-color: rgb(0, 29, 30);
                    border-radius: 20px;
                    padding: 5px;
                    margin: auto;
                    opacity: 70%;
                    position: sticky;
                    top: 10px;
                    box-sizing: border-box;
                    transition: 0.2s;
                    animation: scrol;
                    animation-timeline: scroll;
                }
                main{
                    max-height: 600px;
                    position: relative;
                    top: 40px;
                    display: flex;
                    max-width: 100%;
                    .carousel {
                        position: relative;
                        top: 0px;
                        left: -10%;
                        .carousel-container {
                            
                            .carousel-slide{

                                background-image: linear-gradient(to right, #3B6491, #182873);  
                    
                            }
                        }
                    }
                    .category{
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        visibility: visible;
                        width: 270px;
                        height: 560px;
                        gap: 10px;
                        span{
                            color:#6292c6;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-weight: bolder;
                            font-size: 0.8em;
                        }
                        .categorybutton{
                            color: rgb(193, 193, 193);
                            text-decoration: none;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-weight: bold;
                            font-size: 0.9em;

                        }

                    }


                }
                .hot{
                    position: relative;
                    top:80px;
                    left: 25%;
                    display: flex;
                    max-width: 70%;
                    height: 330px;
                    gap: 4px;
                    padding: 10px;
                    justify-content: space-between;
                    flex-direction: row;

                    .hottab{
                        
                        max-width: 200px;
                        background-color: #222e3b;
                        img{
                            max-width: 200px;
                        }
                        span{
                            color: white;
                            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-weight: bold;
                            padding: 15px;
                            .hotbuy{
                                position: relative;
                                left: 50px;
                                bottom: 10px;
                                background-image:linear-gradient(to right, #0eba14, #0a8449);
                                color:  white;
                                font-weight: bold;
                                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                cursor: pointer;
                                padding: 10px;
                                border-radius: 0px;
                                border:transparent;
                                
                            }
                            .hotbuy:hover{
                                background-image:linear-gradient(to right, #12d219, #0ba259); 
                            }
                        }
                        
                    }


                }

                header{
                    position: relative;
                    top: 20px;
                    display: flex;
                    visibility:visible;
                    margin: auto;
                    max-width: 90%;
                    background-image: linear-gradient(to right, #3B6491, #0F216E); 
                    justify-content: space-evenly;
                    text-align: center;
                    border: transparent;
                    border: 2px solid #0b2037;
                    max-height: 40px;

                    .tabs{
                        
                        padding: 10px;
                        background-color: transparent;
                        display: flex;
                        width: 100%;
                        text-align: center;
                        border: transparent;
                        color: white;
                        font-weight: bold;
                        font-family:Arial, Helvetica, sans-serif;
                        cursor: pointer;
                        font-size: 1.1em;

                    }

                    .tabs:hover{
                        padding: 10px;
                        background-image: linear-gradient(to right, #37749a, transparent); 
                        display: flex;
                        width: 100%;
                        text-align: center;
                        border: transparent;

                    }
                    .tabs2{
                        
                        padding: 5px;
                        background-color: transparent;
                        display: flex;
                        width: 100%;
                        text-align: center;
                        border: transparent;
                        color: white;
                        font-weight: bold;
                        font-family:Arial, Helvetica, sans-serif;

                    }

                }
                .explore{
                    height: 1000px;
                    width: 100%;
                    margin-top: 100px;
                    .span{
                        color: rgb(182, 210, 255);
                        font-size: 2em;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: lighter;
                        text-align: center;

                    }

                    .explorecenter{
                        display: flex;
                        width: 900px;
                        height: 850px;
                        margin: auto;
                        flex-direction: column;
                        gap: 10px;
                        .exploregames{
                            background-image: linear-gradient(to left, rgb(53, 84, 107), rgb(19, 54, 90));
                            height: 80px;
                            display: flex;
                            border-radius: 10px;
                            box-sizing: border-box;
                            span{
                                padding: 20px;
                                color: whitesmoke;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-size: 1.5em;
                                font-weight: bold;
                                min-width: 390px;
                                span{
                                    color: yellowgreen;
                                    font-weight: lighter;
                                    font-size: 1em;

                                }
                            }
                            img{
                                border-bottom-left-radius: 10px;
                                border-top-left-radius: 10px;
                                border-right: 3px rgb(138, 167, 220) solid;
                            }
                            button{
                                height: 60px;
                                background-image:linear-gradient(to right, #0eba14, #0a8449);
                                color:  white;
                                font-weight: bold;
                                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                cursor: pointer;
                                width: 100px;
                                padding: 10px;
                                border-radius: 0px;
                                border:transparent;
                                margin-top: 30px;
                                font-size: 1.1em;
                                display: block;
                                overflow: hidden;
                                position: relative;
                                top: 20px;
                                left: 0px;
                                right: 0px;
                            }
                            button:hover{
                                background-image:linear-gradient(to right, #12d219, #0ba259); 
                                cursor: pointer;


                            }
                        }
                    }
                }
                footer{
                    width: 100%;
                    background-color: #222e3b;
                    height: 150px;
                    margin-bottom: 0px;

                    .end{
                        width: 60%;
                        height: 40%;
                        margin: auto;
                        hr{
                            border: 1px solid rgb(67, 67, 67);
                        }
                        .ender{
                            padding: 10px;
                            display: flex;
                            box-sizing: border-box;
                            width: 100%;
                            height: 100%;
                            gap: 20px;
                            color: rgb(180, 180, 180);
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 1em;
                            text-align: center;
                            img{
                                opacity: 50%;
                            }
                        }
                    }
                }
                margin: 0px;
                

            }




                
        }
        

}



@media screen and (min-width: 1220px){ // KOMPI

    html{
        overflow-x: hidden; 
            body{
                background-image: linear-gradient(to right, rgb(24, 49, 83), rgb(10, 42, 80));  
                zoom: 125%;
                background-color: #25506a;


                nav{
                    top: 0px;
                    flex-basis: 0;
                    max-width: 40%;
                    height: 60px;
                    background-color: rgb(0, 29, 30);
                    border-radius: 20px;
                    padding: 5px;
                    margin: auto;
                    opacity: 50%;
                    position: sticky;
                    top: 10px;
                    box-sizing: border-box;
                    transition: 0.2s;

                    
                    
                    .menubutton{
                        background-color: transparent;
                        border: transparent;
                        cursor: pointer;
                        opacity: 100%;
                        transition: 0.2s;

                        
                    }
                    .menubutton:hover{
                        background-color: transparent;
                        border: transparent;
                        cursor: pointer;
                        opacity: 100%;
                        transition: 0.2s;

                        
                    }

        
                    .title{
                        margin-right: 20px;
                        max-width: 130px;
                        opacity: 100%;
                        cursor: pointer;
                        transition: 0.2s;

                    }


                
                    #menu{
                        margin-top: -20px;
                        width: 100px;
                        height: 190px;
                        background-color: rgb(0, 29, 30);
                        border-radius: 10px;
                        padding: 20px;
                        z-index: 2;
                        visibility: hidden;

                        a{
                            color: white;
                            text-decoration: none;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            font-weight: bold;
                            font-size: 1em;
                            
                        }
                        
                        .langbutton{
                            color: white;
                            font-weight: bold;
                            background-color: transparent;
                            border: transparent;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            padding: 0px;
                            font-size: 1.05em;
                            cursor: pointer;
                        }
                    
                        
                    }
                    
                }
                nav:hover{
                    
                    max-width: 42%;
                    height: 60px;
                    background-color: rgb(0, 29, 30);
                    border-radius: 20px;
                    padding: 5px;
                    margin: auto;
                    opacity: 70%;
                    position: sticky;
                    top: 10px;
                    box-sizing: border-box;
                    transition: 0.2s;
                    animation: scrol;
                    animation-timeline: scroll;
                }
                main{
                    max-height: 600px;
                    position: relative;
                    top: 40px;
                    display: flex;
                    max-width: 100%;
                    .carousel {
                        position: absolute;
                        top: 0px;
                        left: 410px;
                        min-width: 700px;
                        .carousel-container {
                            min-height: 430px;
                            button{
                                margin-bottom: -15px;
                            }
                            img{
                                min-width: 600px;
                                min-height: 350px;
                                
                            }
                            .carousel-slide {

                                background-image: linear-gradient(to right, #3B6491, #182873);  
                    
                            }
                        }
                    }
                    .category{
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        visibility: visible;
                        width: 270px;
                        height: 560px;
                        gap: 10px;
                        span{
                            color:#6292c6;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-weight: bolder;
                            font-size: 0.8em;
                        }
                        .categorybutton{
                            color: rgb(193, 193, 193);
                            text-decoration: none;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-weight: bold;
                            font-size: 0.9em;

                        }

                    }


                }
                .category{
                    margin-left: 100px;
                }
                .hot{
                    position: relative;
                    top:200px;
                    left: 400px;
                    display: flex;
                    max-width: 700px;
                    height: 330px;
                    gap: 10px;
                    padding: 10px;
                    justify-content: space-between;
                    .hottab{
                        
                        max-width: 200px;
                        background-color: #222e3b;
                        img{
                            max-width: 200px;
                        }
                        span{
                            color: white;
                            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-weight: bold;
                            padding: 15px;
                            .hotbuy{
                                position: relative;
                                left: 70px;
                                bottom: 10px;
                                background-image:linear-gradient(to right, #0eba14, #0a8449);
                                color:  white;
                                font-weight: bold;
                                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                cursor: pointer;
                                padding: 10px;
                                border-radius: 0px;
                                border:transparent;
                                
                            }
                            .hotbuy:hover{
                                background-image:linear-gradient(to right, #12d219, #0ba259); 
                            }
                        }
                        
                    }


                }

                header{
                    position: relative;
                    top: 20px;
                    display: flex;
                    visibility:visible;
                    margin: auto;
                    max-width: 70%;
                    background-image: linear-gradient(to right, #3B6491, #0F216E); 
                    justify-content: space-evenly;
                    text-align: center;
                    border: transparent;
                    border: 2px solid #0b2037;
                    max-height: 40px;

                    .tabs{
                        
                        padding: 10px;
                        background-color: transparent;
                        display: flex;
                        width: 100%;
                        text-align: center;
                        border: transparent;
                        color: white;
                        font-weight: bold;
                        font-family:Arial, Helvetica, sans-serif;
                        cursor: pointer;

                    }

                    .tabs:hover{
                        padding: 10px;
                        background-image: linear-gradient(to right, #37749a, transparent); 
                        display: flex;
                        width: 100%;
                        text-align: center;
                        border: transparent;

                    }
                    .tabs2{
                        
                        padding: 5px;
                        background-color: transparent;
                        display: flex;
                        width: 100%;
                        text-align: center;
                        border: transparent;
                        color: white;
                        font-weight: bold;
                        font-family:Arial, Helvetica, sans-serif;

                    }

                }
                .explore{
                    height: 1000px;
                    width: 100%;
                    margin-top: 200px;
                    .span{
                        color: rgb(182, 210, 255);
                        font-size: 2em;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: lighter;
                        text-align: center;

                    }

                    .explorecenter{
                        display: flex;
                        width: 1000px;
                        height: 850px;
                        margin: auto;
                        flex-direction: column;
                        gap: 10px;
                        .exploregames{
                            background-image: linear-gradient(to left, rgb(53, 84, 107), rgb(19, 54, 90));
                            height: 100px;
                            display: flex;
                            border-radius: 10px;
                            box-sizing: border-box;
                            span{
                                padding: 20px;
                                color: whitesmoke;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-size: 1.8em;
                                font-weight: bold;
                                min-width: 450px;
                                span{
                                    color: yellowgreen;
                                    font-weight: lighter;
                                    font-size: 1em;

                                }
                            }
                            img{
                                border-bottom-left-radius: 10px;
                                border-top-left-radius: 10px;
                                border-right: 3px rgb(138, 167, 220) solid;
                                min-width: 300px;
                            }
                            button{
                                height: 40px;
                                background-image:linear-gradient(to right, #0eba14, #0a8449);
                                color:  white;
                                font-weight: bold;
                                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                cursor: pointer;
                                width: 100px;
                                padding: 10px;
                                border-radius: 0px;
                                border:transparent;
                                margin:auto;
                                font-size: 1.1em;
                                display: block;
                                overflow: hidden;
                                position: relative;
                                top: 0px;
                            }
                            button:hover{
                                background-image:linear-gradient(to right, #12d219, #0ba259); 
                                cursor: pointer;


                            }
                        }
                    }
                }
                footer{
                    width: 100%;
                    background-color: #222e3b;
                    height: 150px;
                    margin-bottom: 0px;

                    .end{
                        width: 60%;
                        height: 40%;
                        margin: auto;
                        hr{
                            border: 1px solid rgb(67, 67, 67);
                        }
                        .ender{
                            padding: 10px;
                            display: flex;
                            box-sizing: border-box;
                            width: 100%;
                            height: 100%;
                            gap: 20px;
                            color: rgb(180, 180, 180);
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 1.34em;
                            text-align: center;
                            img{
                                opacity: 50%;
                            }
                        }
                    }
                }


                
                margin: 0px;
                

            }




                
        }   
        

}