



html{ // TELE
    overflow-x: hidden; 
        body{
            background-color: rgb(1, 43, 43);
            background-image: linear-gradient(to bottom, transparent,rgb(12, 81, 66));
            
    
    
            nav{
                position: sticky;
                top: 0px;
                text-shadow: 1px 1px 10px #000;
                z-index: 3;
                max-width: 100%;
                height: 50px;
                background-color: rgb(0, 29, 30);
                border-radius: 20px;
                padding: 5px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                margin-top: -10px;
                opacity: 90%;
    
    
    
                
                .menubutton{
                    background-color: transparent;
                    border: transparent;
                    cursor: pointer;
                    
                }
    
                .title{
                    position: relative;
                    display: table;
                    top: -45px;
                    margin: auto;
                    max-width: 130px;
                    cursor: pointer;
                    
                }
    
                #menu{
                    background-color: rgb(0, 29, 30);
                    height: 300px;
                    padding: 40px;
                    width: 200px;
                    margin-top: -50px;
                    margin-left: -4.9px;
                    border-bottom-left-radius: 20px;     
                    border-bottom-right-radius: 20px;   
                    z-index: 3; 
                    visibility: hidden;
                    a{
                        color: white;
                        text-decoration: none;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        font-weight: bold;
                        font-size: 2em;
                        box-sizing: border-box;
                        text-shadow: 20px;
                        z-index: 3;
                        
                    }
                    
                    .langbutton{
                        color: white;
                        font-weight: bold;
                        background-color: transparent;
                        border: transparent;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        padding: 0px;
                        font-size: 2em;
                        cursor: pointer;
                        text-shadow: 20px;
                        z-index: 3;
                    }
                }
            }
    
            main{
                width: 100%;
                height: 3400px;
                box-sizing: border-box;
                
                center{
                    padding: 10px;
                    width: 100%;
                    min-height: 20%;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    
                    .game{
                        display: flex;
                        height: 50%;
                        box-sizing: border-box;
                        width: 100%;
                        flex-direction: column;
                        .left{
                            width: 100%;
                            height: 60%;
                            max-width: 850px;
                            box-sizing: border-box;
                            .slider-container {
                                width: 100%;
                                overflow: hidden;
                        
                                .slider-track {
                                    display: flex;
                                    transition: transform 0.5s ease-in-out;

                                }
                        
                                .slider-image {
                                    min-width: 100%;
                                    transition: opacity 0.5s ease-in-out;
                                }
                            }
                        
                            .prev-button,
                            .next-button {
                                position: relative;
                                bottom: 30px;
                                border-radius: 10px;
                                transform: translateY(-50%);
                                background-color: rgba(0, 0, 0, 0.5);
                                color: white;
                                border: none;
                                padding: 10px;
                                cursor: pointer;
                            }
                        
                            
                        }
                        .right{
                            width: 100%;
                            height: 40%;
                            box-sizing: border-box; 
                            img{
                                max-width: 100%;
                            }

                            p{
                                max-height: 100%;
                                min-height: 100%;
                                padding: 5px;
                                margin-top: 0px;
                                margin-bottom: 0px;
                                font-size: 1.4em;
                                text-align: start;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                color: white;
                            }
                        }
                    
                    }
                
                }


                .center2{
                    margin-top: 20px;
                    box-sizing: border-box;
                    max-height: 100%;
                    height: 75%;
                    width: 100%;
                    min-width: 100%;
                    max-height: 100%;
                    display: flex;
                    flex-direction: row;
                    padding: 10px;
                    .purchase{
                        min-width: 100%;
                        max-height: 90%;
                        background-image: linear-gradient(to bottom,#19635c, transparent );
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .purchasedivs{
                            width: 100%;
                            height: 130px;
                            box-sizing: border-box;
                            background-image: linear-gradient(to left, #74b6b6,#65a471);
                            border-radius: 5px;
                            p{
                                text-align: left;
                                margin-left: 30px;
                                margin-top: 15px;
                                font-size: 1.6em;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: bold;
                                color: rgb(211, 255, 246);
                                button{
                                    background-image:linear-gradient(to right, #0eba14, #0a8449);
                                    color:  white;
                                    font-weight: bold;
                                    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                    cursor: pointer;
                                    padding: 10px;
                                    border-radius: 5px;
                                    border:transparent;
                                 
                                    
                                }
                                button:hover{
                                    background-image:linear-gradient(to right, #12d219, #0ba259); 
                                    cursor: pointer;
    
    
                                }
                            }

                        }

                        .about{
                            color: rgb(183, 239, 231);
                            text-align: left;
                            font-size: 1.5em;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            
                        }
                        
                    }
                    .details{
                        width: 30%;
                        height: 70%;
                        background-color: #124276;
                        box-sizing: border-box;
                        border-radius: 5px;
                        color: whitesmoke;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        opacity: 0%;
                        hr{
                            width: 90%;
                        }
                        
                    }
                }




            }










            footer{
                width: 100%;
                background-color: #22383b;
                height: 150px;
                margin-bottom: 0px;
    
                .end{
                    width: 100%;
                    height: 30%;
                    margin: auto;
                    hr{
                        border: 1px solid rgb(67, 67, 67);
                    }
                    .ender{
                        padding: 10px;
                        display: flex;
                        box-sizing: border-box;
                        width: 100%;
                        height: 100%;
                        gap: 20px;
                        color: rgb(180, 180, 180);
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-size: 1em;
                        text-align: center;
                        img{
                            opacity: 50%;
                        }
                    }
                }
            }
            margin: 0px;
            
    
    
    
            header{
                visibility: hidden;
            }
        }
    
    }
    
    @media screen and (min-width:700px){ // patara Plansheti
    
        html{
            overflow-x: hidden; 
                body{
                    background-color: rgb(1, 43, 43);
                    background-image: linear-gradient(to bottom, transparent,rgb(12, 81, 66));
                    
            
            
                    nav{
                        position: sticky;
                        top: 0px;
                        text-shadow: 1px 1px 10px #000;
                        z-index: 3;
                        max-width: 100%;
                        height: 50px;
                        background-color: rgb(0, 29, 30);
                        border-radius: 20px;
                        padding: 5px;
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                        margin-top: -10px;
                        opacity: 90%;
            
            
            
                        
                        .menubutton{
                            background-color: transparent;
                            border: transparent;
                            cursor: pointer;
                            
                        }
            
                        .title{
                            position: relative;
                            display: table;
                            top: -45px;
                            margin: auto;
                            max-width: 130px;
                            cursor: pointer;
                            
                        }
            
                        #menu{
                            background-color: rgb(0, 29, 30);
                            height: 300px;
                            padding: 40px;
                            width: 200px;
                            margin-top: -50px;
                            margin-left: -4.9px;
                            border-bottom-left-radius: 20px;     
                            border-bottom-right-radius: 20px;   
                            z-index: 3; 
                            visibility: hidden;
                            a{
                                color: white;
                                text-decoration: none;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                font-weight: bold;
                                font-size: 2em;
                                box-sizing: border-box;
                                text-shadow: 20px;
                                z-index: 3;
                                
                            }
                            
                            .langbutton{
                                color: white;
                                font-weight: bold;
                                background-color: transparent;
                                border: transparent;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                padding: 0px;
                                font-size: 2em;
                                cursor: pointer;
                                text-shadow: 20px;
                                z-index: 3;
                            }
                        }
                    }
            




                    main{
                        width: 100%;
                        height: 2300px;
                        margin-top: 0px;
                        box-sizing: border-box;
                        
                        center{
                            width: 100%;
                            min-height: 20%;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            padding: 10px;
                            .game{
                                display: flex;
                                height: 50%;
                                box-sizing: border-box;
                                width: 100%;
                                flex-direction: column;
                                .left{
                                    width: 100%;
                                    height: 60%;
                                    max-width: 850px;
                                    box-sizing: border-box;
                                    .slider-container {
                                        width: 100%;
                                        overflow: hidden;
                                
                                        .slider-track {
                                            display: flex;
                                            transition: transform 0.5s ease-in-out;
        
                                        }
                                
                                        .slider-image {
                                            min-width: 100%;
                                            transition: opacity 0.5s ease-in-out;
                                        }
                                    }
                                
                                    .prev-button,
                                    .next-button{
                                        position: relative;
                                        bottom: 30px;
                                        border-radius: 10px;
                                        transform: translateY(-50%);
                                        background-color: rgba(0, 0, 0, 0.5);
                                        color: white;
                                        border: none;
                                        padding: 10px;
                                        cursor: pointer;
                                    }
                                
                                    
                                }
                                .right{
                                    width: 100%;
                                    height: 40%;
                                    box-sizing: border-box; 
                                    display: flex;
                                    flex-direction: row;
                                    img{
                                        width: 300;
                                        height: 200px;
                                        
                                    }
                                    p{
                                        max-height: 100%;
                                        min-height: 100%;
                                        padding: 5px;
                                        margin-top: 0px;
                                        margin-bottom: 0px;
                                        font-size: 1.2em;
                                        text-align: start;
                                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                        color: white;
                                    }
                                }
                            
                            }
                          
                        }
                        .center2{
                            margin-top: 20px;
                            box-sizing: border-box;
                            max-height: 100%;
                            height: 75%;
                            width: 100%;
                            min-width: 100%;
                            max-height: 100%;
                            display: flex;
                            flex-direction: row;
                            padding: 10px;
                            .purchase{
                                min-width: 100%;
                                height: 90%;
                                background-color: #19635c;
                                box-sizing: border-box;
                                border-radius: 5px;
                                padding: 20px;
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                .purchasedivs{
                                    width: 100%;
                                    height: 70px;
                                    box-sizing: border-box;
                                    background-image: linear-gradient(to left, #74b6b6,#65a471);
                                    border-radius: 5px;
                                    p{
                                        text-align: left;
                                        margin-left: 30px;
                                        margin-top: 15px;
                                        font-size: 1.6em;
                                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                        font-weight: bold;
                                        color: rgb(211, 255, 246);
                                        button{
                                            background-image:linear-gradient(to right, #0eba14, #0a8449);
                                            color:  white;
                                            font-weight: bold;
                                            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                            cursor: pointer;
                                            padding: 10px;
                                            border-radius: 5px;
                                            border:transparent;
                                         
                                            
                                        }
                                        button:hover{
                                            background-image:linear-gradient(to right, #12d219, #0ba259); 
                                            cursor: pointer;
            
            
                                        }
                                    }

                                }

                                .about{
                                    color: rgb(183, 239, 231);
                                    text-align: left;
                                    font-size: 1.5em;
                                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                    
                                }
                                
                            }
                            .details{
                                width: 30%;
                                height: 70%;
                                background-color: #124276;
                                box-sizing: border-box;
                                border-radius: 5px;
                                color: whitesmoke;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                opacity: 0%;
                                hr{
                                    width: 90%;
                                }
                                
                            }
                        }
        
                    

        
                    }
        
















                    
                    footer{
                        width: 100%;
                        background-color: #22383b;
                        height: 150px;
                        margin-bottom: 0px;
    
                        .end{
                            width: 100%;
                            height: 40%;
                            margin: auto;
                            hr{
                                border: 1px solid rgb(67, 67, 67);
                            }
                            .ender{
                                padding: 10px;
                                display: flex;
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                gap: 20px;
                                color: rgb(180, 180, 180);
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-size: 1em;
                                text-align: center;
                                img{
                                    opacity: 50%;
                                }
                            }
                        }
                    }
                    margin: 0px;
                    
    
    
                }
    
            
            }
        
    }
    
    
    
    @media screen and (min-width: 900px){ // DIDI PLANSHETI
    
        html{
            overflow-x: hidden; 
                body{
                    background-color: #25506a;
                    background-image: linear-gradient(to right, rgb(52, 89, 140), rgb(21, 58, 103));  
                    zoom: 100%;
    
                    nav{
                        top: 0px;
                        flex-basis: 0;
                        max-width: 40%;
                        height: 60px;
                        background-color: rgb(0, 29, 30);
                        border-radius: 20px;
                        padding: 5px;
                        margin: auto;
                        opacity: 50%;
                        position: sticky;
                        top: 10px;
                        box-sizing: border-box;
                        transition: 0.2s;
    
                        
                        
                        .menubutton{
                            background-color: transparent;
                            border: transparent;
                            cursor: pointer;
                            opacity: 100%;
                            transition: 0.2s;
    
                            
                        }
                        .menubutton:hover{
                            background-color: transparent;
                            border: transparent;
                            cursor: pointer;
                            opacity: 100%;
                            transition: 0.2s;
    
                            
                        }
    
            
                        .title{
                            margin-right: 20px;
                            max-width: 130px;
                            opacity: 100%;
                            cursor: pointer;
                            transition: 0.2s;
    
                        }
    
                    
                        #menu{
                            margin-top: -20px;
                            width: 100px;
                            height: 190px;
                            background-color: rgb(0, 29, 30);
                            border-radius: 10px;
                            padding: 20px;
                            z-index: 2;
                            visibility: hidden;
    
                            a{
                                color: white;
                                text-decoration: none;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                font-weight: bold;
                                font-size: 1em;
                                
                            }
                            
                            .langbutton{
                                color: white;
                                font-weight: bold;
                                background-color: transparent;
                                border: transparent;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                padding: 0px;
                                font-size: 1.05em;
                                cursor: pointer;
                            }
                        
                            
                        }
                        
                    }
                    nav:hover{
                        
                        max-width: 42%;
                        height: 60px;
                        background-color: rgb(0, 29, 30);
                        border-radius: 20px;
                        padding: 5px;
                        margin: auto;
                        opacity: 70%;
                        position: sticky;
                        top: 10px;
                        box-sizing: border-box;
                        transition: 0.2s;
                        animation: scrol;
                        animation-timeline: scroll;
                    }
                
                    header{
                        position: relative;
                        top: 20px;
                        display: flex;
                        visibility:visible;
                        margin: auto;
                        max-width: 90%;
                        background-image: linear-gradient(to right, #3B6491, #0F216E); 
                        justify-content: space-evenly;
                        text-align: center;
                        border: transparent;
                        border: 1px solid #204873;
                        max-height: 40px;
    
                        .tabs{
                            
                            padding: 10px;
                            background-color: transparent;
                            display: flex;
                            width: 100%;
                            text-align: center;
                            border: transparent;
                            color: white;
                            font-weight: bold;
                            font-family:Arial, Helvetica, sans-serif;
                            cursor: pointer;
                            font-size: 1.1em;
    
                        }
    
                        .tabs:hover{
                            padding: 10px;
                            background-image: linear-gradient(to right, #37749a, transparent); 
                            display: flex;
                            width: 100%;
                            text-align: center;
                            border: transparent;
    
                        }
                        .tabs2{
                            
                            padding: 5px;
                            background-color: transparent;
                            display: flex;
                            width: 100%;
                            text-align: center;
                            border: transparent;
                            color: white;
                            font-weight: bold;
                            font-family:Arial, Helvetica, sans-serif;
    
                        }
    
                    }
                    




                    
                    main{
                        width: 100%;
                        height: 2300px;
                        margin-top: 20px;
                        box-sizing: border-box;
                        
                        center{
                            margin: auto;
                            width: 100%;
                            min-height: 20%;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            .game{
                                display: flex;
                                height: 50%;
                                box-sizing: border-box;
                                width: 100%;
                                flex-direction: row;
                                gap: 10px;
                                .left{
                                    width: 70%;
                                    height: 60%;
                                    max-width: 850px;
                                    box-sizing: border-box;
                                    .slider-container {
                                        width: 100%;
                                        overflow: hidden;
                                
                                        .slider-track {
                                            display: flex;
                                            transition: transform 0.5s ease-in-out;
        
                                        }
                                
                                        .slider-image {
                                            min-width: 100%;
                                            transition: opacity 0.5s ease-in-out;
                                        }
                                    }
                                
                                    .prev-button,
                                    .next-button {
                                        position: relative;
                                        bottom: 30px;
                                        border-radius: 10px;
                                        transform: translateY(-50%);
                                        background-color: rgba(0, 0, 0, 0.5);
                                        color: white;
                                        border: none;
                                        padding: 10px;
                                        cursor: pointer;
                                    }
                                
                                    
                                }
                                .right{
                                    width: 100%;
                                    height: 40%;
                                    box-sizing: border-box;
                                    display: flex;
                                    flex-direction: column;
                                    img{
                                        max-width: none;
                                    }
                                    p{
                                        max-height: 100%;
                                        min-height: 100%;
                                        padding: 5px;
                                        margin-top: 0px;
                                        margin-bottom: 0px;
                                        font-size: 1.1em;
                                        text-align: start;
                                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                        color: white;
                                    }
                                }
                            
                            }
                            
                        }
                        .center2{
                            margin-top: 20px;
                            box-sizing: border-box;
                            max-height: 100%;
                            height: 75%;
                            width: 50%;
                            min-width: 100%;
                            max-height: 100%;
                            display: flex;
                            flex-direction: row;
                            padding: 10px;
                            .purchase{
                                min-width: 70%;
                                height: 100%;
                                background-color: #15477d;
                                background-image: none;
                                box-sizing: border-box;
                                border-radius: 5px;
                                padding: 20px;
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                .purchasedivs{
                                    width: 100%;
                                    height: 70px;
                                    box-sizing: border-box;
                                    background-image: linear-gradient(to left, #747ab6,#6565a4);
                                    border-radius: 5px;
                                    p{
                                        text-align: left;
                                        margin-left: 30px;
                                        margin-top: 15px;
                                        font-size: 1.6em;
                                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                        font-weight: bold;
                                        color: rgb(211, 219, 255);
                                        button{
                                            background-image:linear-gradient(to right, #0eba14, #0a8449);
                                            color:  white;
                                            font-weight: bold;
                                            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                            cursor: pointer;
                                            padding: 10px;
                                            border-radius: 5px;
                                            border:transparent;
                                         
                                            
                                        }
                                        button:hover{
                                            background-image:linear-gradient(to right, #12d219, #0ba259); 
                                            cursor: pointer;
            
            
                                        }
                                    }

                                }

                                .about{
                                    color: rgb(183, 193, 239);
                                    text-align: left;
                                    font-size: 1.5em;
                                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                    
                                }
                                
                            }
                            .details{
                                width: 30%;
                                height: 70%;
                                background-color: #124276;
                                box-sizing: border-box;
                                border-radius: 5px;
                                color: whitesmoke;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                opacity: 100%;

                                hr{
                                    width: 90%;
                                }
                                
                            }
                        }
        
                    }




                        
        
                    


                    
                    















                    footer{
                        width: 100%;
                        background-color: #222e3b;
                        height: 150px;
                        margin-bottom: 0px;
    
                        .end{
                            width: 60%;
                            height: 40%;
                            margin: auto;
                            hr{
                                border: 1px solid rgb(67, 67, 67);
                            }
                            .ender{
                                padding: 10px;
                                display: flex;
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                gap: 20px;
                                color: rgb(180, 180, 180);
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-size: 1em;
                                text-align: center;
                                img{
                                    opacity: 50%;
                                }
                            }
                        }
                    }
                    margin: 0px;
                    
    
                }
    
    
    
    
                    
            }
            
    
    }
    
    
    
    @media screen and (min-width: 1220px){ // KOMPI
    
        html{
            overflow-x: hidden; 
                body{
                    background-image: linear-gradient(to right, rgb(52, 89, 140), rgb(21, 58, 103));  
                    zoom: 100%;
                    background-color: #25506a;
    
    
                    nav{
                        top: 0px;
                        flex-basis: 0;
                        max-width: 40%;
                        height: 60px;
                        background-color: rgb(0, 29, 30);
                        border-radius: 20px;
                        padding: 5px;
                        margin: auto;
                        opacity: 50%;
                        position: sticky;
                        top: 10px;
                        box-sizing: border-box;
                        transition: 0.2s;
    
                        
                        
                        .menubutton{
                            background-color: transparent;
                            border: transparent;
                            cursor: pointer;
                            opacity: 100%;
                            transition: 0.2s;
    
                            
                        }
                        .menubutton:hover{
                            background-color: transparent;
                            border: transparent;
                            cursor: pointer;
                            opacity: 100%;
                            transition: 0.2s;
    
                            
                        }
    
            
                        .title{
                            margin-right: 20px;
                            max-width: 130px;
                            opacity: 100%;
                            cursor: pointer;
                            transition: 0.2s;
    
                        }
    
    
                    
                        #menu{
                            margin-top: -20px;
                            width: 100px;
                            height: 190px;
                            background-color: rgb(0, 29, 30);
                            border-radius: 10px;
                            padding: 20px;
                            z-index: 2;
                            visibility: hidden;
    
                            a{
                                color: white;
                                text-decoration: none;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                font-weight: bold;
                                font-size: 1em;
                                
                            }
                            
                            .langbutton{
                                color: white;
                                font-weight: bold;
                                background-color: transparent;
                                border: transparent;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                padding: 0px;
                                font-size: 1.05em;
                                cursor: pointer;
                            }
                        
                            
                        }
                        
                    }
                    nav:hover{
                        
                        max-width: 42%;
                        height: 60px;
                        background-color: rgb(0, 29, 30);
                        border-radius: 20px;
                        padding: 5px;
                        margin: auto;
                        opacity: 70%;
                        position: sticky;
                        top: 10px;
                        box-sizing: border-box;
                        transition: 0.2s;
                        animation: scrol;
                        animation-timeline: scroll;
                    }
                    
                    header{
                        position: relative;
                        top: 20px;
                        display: flex;
                        visibility:visible;
                        margin: auto;
                        max-width: 70%;
                        background-image: linear-gradient(to right, #3B6491, #0F216E); 
                        justify-content: space-evenly;
                        text-align: center;
                        border: transparent;
                        border: 1px solid #204873;
                        max-height: 40px;
    
                        .tabs{
                            
                            padding: 10px;
                            background-color: transparent;
                            display: flex;
                            width: 100%;
                            text-align: center;
                            border: transparent;
                            color: white;
                            font-weight: bold;
                            font-family:Arial, Helvetica, sans-serif;
                            cursor: pointer;
    
                        }
    
                        .tabs:hover{
                            padding: 10px;
                            background-image: linear-gradient(to right, #37749a, transparent); 
                            display: flex;
                            width: 100%;
                            text-align: center;
                            border: transparent;
    
                        }
                        .tabs2{
                            
                            padding: 5px;
                            background-color: transparent;
                            display: flex;
                            width: 100%;
                            text-align: center;
                            border: transparent;
                            color: white;
                            font-weight: bold;
                            font-family:Arial, Helvetica, sans-serif;
    
                        }
    
                    }
                    




                    
                    
                    main{
                        width: 100%;
                        height: 2200px;
                        margin-top: 20px;
                        box-sizing: border-box;
                        
                        center{
                            margin: auto;
                            width: 1200px;
                            min-height: 20%;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            .game{
                                display: flex;
                                height: 50%;
                                box-sizing: border-box;
                                width: 100%;
                                flex-direction: row;
                                background-color: #204873;
                                gap: 10px;
                                padding: 10px;
                                border-radius: 5px;
                                .left{
                                    width: 70%;
                                    height: 60%;
                                    max-width: 850px;
                                    box-sizing: border-box;
                                    .slider-container {
                                        width: 100%;
                                        overflow: hidden;
                                
                                        .slider-track {
                                            display: flex;
                                            transition: transform 0.5s ease-in-out;
        
                                        }
                                
                                        .slider-image {
                                            min-width: 100%;
                                            transition: opacity 0.5s ease-in-out;
                                        }
                                    }
                                
                                    .prev-button,
                                    .next-button {
                                        position: relative;
                                        bottom: 30px;
                                        border-radius: 10px;
                                        transform: translateY(-50%);
                                        background-color: rgba(0, 0, 0, 0.5);
                                        color: white;
                                        border: none;
                                        padding: 10px;
                                        cursor: pointer;
                                    }
                                
                                    
                                }
                                .right{
                                    width: 100%;
                                    height: 40%;
                                    box-sizing: border-box;
                                    img{
                                        max-width: 100%;
                                        max-height: 180px;
                                    }
                                    p{
                                        max-height: 100%;
                                        min-height: 100%;
                                        padding: 5px;
                                        margin-top: 0px;
                                        margin-bottom: 0px;
                                        font-size: 1.1em;
                                        text-align: start;
                                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                        color: white;
                                    }
                                }
                            
                            }
                          
                        }
                        .center2{
                            margin-top: 20px;
                            box-sizing: border-box;
                            max-height: 100%;
                            height: 75%;
                            width: 50%;
                            min-width: 1100px;
                            max-height: 100%;
                            display: flex;
                            flex-direction: row;
                            padding: 10px;
                            .purchase{
                                width: 70%;
                                height: 100%;
                                background-color: #15477d;
                                box-sizing: border-box;
                                border-radius: 5px;
                                padding: 20px;
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                .purchasedivs{
                                    width: 100%;
                                    height: 70px;
                                    box-sizing: border-box;
                                    background-image: linear-gradient(to left, #747ab6,#6565a4);
                                    border-radius: 5px;
                                    p{
                                        text-align: left;
                                        margin-left: 30px;
                                        margin-top: 15px;
                                        font-size: 1.6em;
                                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                        font-weight: bold;
                                        color: rgb(211, 219, 255);
                                        button{
                                            background-image:linear-gradient(to right, #0eba14, #0a8449);
                                            color:  white;
                                            font-weight: bold;
                                            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                            cursor: pointer;
                                            padding: 10px;
                                            border-radius: 5px;
                                            border:transparent;
                                         
                                            
                                        }
                                        button:hover{
                                            background-image:linear-gradient(to right, #12d219, #0ba259); 
                                            cursor: pointer;
            
            
                                        }
                                    }

                                }

                                .about{
                                    color: rgb(183, 193, 239);
                                    text-align: left;
                                    font-size: 1.5em;
                                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                    
                                }
                                
                            }
                            .details{
                                width: 30%;
                                height: 65%;
                                background-color: #124276;
                                box-sizing: border-box;
                                border-radius: 5px;
                                color: whitesmoke;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                hr{
                                    width: 90%;
                                }
                                
                            }
                        }
        
                    }
















                    footer{
                        width: 100%;
                        background-color: #222e3b;
                        height: 150px;
                        margin-bottom: 0px;
    
                        .end{
                            width: 60%;
                            height: 40%;
                            margin: auto;
                            hr{
                                border: 1px solid rgb(67, 67, 67);
                            }
                            .ender{
                                padding: 10px;
                                display: flex;
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                gap: 20px;
                                color: rgb(180, 180, 180);
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-size: 1.34em;
                                text-align: center;
                                img{
                                    opacity: 50%;
                                }
                            }
                        }
                    }
    
    
                    
                    margin: 0px;
                    
    
                }
    
    
    
    
                    
            }   
            
    
    }