html {
  overflow-x: hidden;
}
html body {
  background-color: rgb(1, 43, 43);
  background-image: linear-gradient(to bottom, transparent, rgb(12, 81, 66));
  margin: 0px;
}
html body nav {
  position: sticky;
  top: 0px;
  text-shadow: 1px 1px 10px #000;
  z-index: 3;
  max-width: 100%;
  height: 50px;
  background-color: rgb(0, 29, 30);
  border-radius: 20px;
  padding: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: -10px;
  opacity: 90%;
}
html body nav .menubutton {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
html body nav .title {
  position: relative;
  display: table;
  top: -45px;
  margin: auto;
  max-width: 130px;
  cursor: pointer;
}
html body nav #menu {
  background-color: rgb(0, 29, 30);
  height: 300px;
  padding: 40px;
  width: 200px;
  margin-top: -50px;
  margin-left: -4.9px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 3;
  visibility: hidden;
}
html body nav #menu a {
  color: white;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 2em;
  box-sizing: border-box;
  text-shadow: 20px;
  z-index: 3;
}
html body nav #menu .langbutton {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: transparent;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0px;
  font-size: 2em;
  cursor: pointer;
  text-shadow: 20px;
  z-index: 3;
}
html body main {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  box-sizing: border-box;
  padding: 10px;
}
html body main .sign {
  margin: auto;
  width: 400px;
  height: 700px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  background-color: transparent;
}
html body main .sign .login {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: rgb(211, 255, 238);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 10px;
  font-weight: bold;
  font-size: 0.8em;
}
html body main .sign .login input {
  height: 10px;
  background-color: #25636a;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 5px;
  color: white;
  padding: 15px;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html body main .sign .login input:hover {
  background-color: #317981;
}
html body main .sign .login span {
  display: flex;
  gap: 10px;
}
html body main .sign .login span input {
  height: 15px;
  width: 15px;
}
html body main .sign .login a {
  color: white;
  font-weight: lighter;
  text-align: center;
}
html body main .sign .login a:hover {
  color: rgb(190, 190, 190);
}
html body main .sign .login button {
  height: 40px;
  border-radius: 3px;
  font-size: 1.4em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(to right, rgb(17, 181, 134), rgb(25, 115, 154));
  border: transparent;
}
html body main .sign .login button:hover {
  background-image: linear-gradient(to right, rgb(16, 197, 146), rgb(23, 128, 173));
}
html body main .sign .qr {
  display: flex;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(91, 171, 127);
  font-weight: bold;
}
html body main .sign .qr img {
  margin: auto;
  box-sizing: border-box;
  max-width: 80%;
  border-radius: 10px;
}
html body footer {
  width: 100%;
  background-color: #22383b;
  height: 150px;
  margin-bottom: 0px;
}
html body footer .end {
  width: 100%;
  height: 30%;
  margin: auto;
}
html body footer .end hr {
  border: 1px solid rgb(67, 67, 67);
}
html body footer .end .ender {
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  gap: 20px;
  color: rgb(180, 180, 180);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  text-align: center;
}
html body footer .end .ender img {
  opacity: 50%;
}
html body header {
  visibility: hidden;
}

@media screen and (min-width: 700px) {
  html {
    overflow-x: hidden;
  }
  html body {
    background-color: rgb(1, 43, 43);
    background-image: linear-gradient(to bottom, transparent, rgb(12, 81, 66));
    margin: 0px;
  }
  html body nav {
    position: sticky;
    top: 0px;
    text-shadow: 1px 1px 10px #000;
    z-index: 3;
    max-width: 100%;
    height: 50px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -10px;
    opacity: 90%;
  }
  html body nav .menubutton {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
  }
  html body nav .title {
    position: relative;
    display: table;
    top: -45px;
    margin: auto;
    max-width: 130px;
    cursor: pointer;
  }
  html body nav #menu {
    background-color: rgb(0, 29, 30);
    height: 300px;
    padding: 40px;
    width: 200px;
    margin-top: -50px;
    margin-left: -4.9px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 3;
    visibility: hidden;
  }
  html body nav #menu a {
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2em;
    box-sizing: border-box;
    text-shadow: 20px;
    z-index: 3;
  }
  html body nav #menu .langbutton {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0px;
    font-size: 2em;
    cursor: pointer;
    text-shadow: 20px;
    z-index: 3;
  }
  html body main {
    width: 100%;
    height: 700px;
    margin-top: 0px;
    box-sizing: border-box;
    padding: 10px;
  }
  html body main .sign {
    margin: auto;
    width: 700px;
    height: 670px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    padding: 40px;
    gap: 20px;
    background-image: linear-gradient(to right, rgb(21, 64, 60), transparent);
  }
  html body main .sign .login {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(211, 255, 238);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    gap: 10px;
    font-weight: bold;
    font-size: 0.8em;
  }
  html body main .sign .login input {
    height: 10px;
    background-color: #25636a;
    border: 1px solid rgb(56, 56, 56);
    border-radius: 5px;
    color: white;
    padding: 15px;
    font-size: 1.2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  html body main .sign .login input:hover {
    background-color: #317981;
  }
  html body main .sign .login span {
    display: flex;
    gap: 10px;
  }
  html body main .sign .login span input {
    height: 15px;
    width: 15px;
  }
  html body main .sign .login a {
    color: white;
    font-weight: lighter;
    text-align: center;
  }
  html body main .sign .login a:hover {
    color: rgb(190, 190, 190);
  }
  html body main .sign .login button {
    height: 60px;
    margin: auto;
    width: 50%;
    border-radius: 3px;
    font-size: 1.4em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right, rgb(17, 181, 134), rgb(25, 115, 154));
    border: transparent;
  }
  html body main .sign .login button:hover {
    background-image: linear-gradient(to right, rgb(16, 197, 146), rgb(23, 128, 173));
  }
  html body footer {
    width: 100%;
    background-color: #22383b;
    height: 150px;
    margin-bottom: 0px;
  }
  html body footer .end {
    width: 100%;
    height: 40%;
    margin: auto;
  }
  html body footer .end hr {
    border: 1px solid rgb(67, 67, 67);
  }
  html body footer .end .ender {
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: 20px;
    color: rgb(180, 180, 180);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-align: center;
  }
  html body footer .end .ender img {
    opacity: 50%;
  }
}
@media screen and (min-width: 900px) {
  html {
    overflow-x: hidden;
  }
  html body {
    background-color: #25506a;
    background-image: linear-gradient(to bottom, rgb(52, 89, 140), rgb(10, 42, 80));
    zoom: 100%;
    margin: 0px;
  }
  html body nav {
    top: 0px;
    flex-basis: 0;
    max-width: 40%;
    height: 60px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    opacity: 50%;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    transition: 0.2s;
  }
  html body nav .menubutton {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
  }
  html body nav .menubutton:hover {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
  }
  html body nav .title {
    margin-right: 20px;
    max-width: 130px;
    opacity: 100%;
    cursor: pointer;
    transition: 0.2s;
  }
  html body nav #menu {
    margin-top: -20px;
    width: 100px;
    height: 190px;
    background-color: rgb(0, 29, 30);
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
    visibility: hidden;
  }
  html body nav #menu a {
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
  html body nav #menu .langbutton {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0px;
    font-size: 1.05em;
    cursor: pointer;
  }
  html body nav:hover {
    max-width: 42%;
    height: 60px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    opacity: 70%;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    transition: 0.2s;
    animation: scrol;
    animation-timeline: scroll;
  }
  html body header {
    position: relative;
    top: 20px;
    display: flex;
    visibility: visible;
    margin: auto;
    max-width: 90%;
    background-image: linear-gradient(to right, #3B6491, #0F216E);
    justify-content: space-evenly;
    text-align: center;
    border: transparent;
    border: 1px solid #204873;
    max-height: 40px;
  }
  html body header .tabs {
    padding: 10px;
    background-color: transparent;
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 1.1em;
  }
  html body header .tabs:hover {
    padding: 10px;
    background-image: linear-gradient(to right, #37749a, transparent);
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
  }
  html body header .tabs2 {
    padding: 5px;
    background-color: transparent;
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  html body main {
    width: 100%;
    height: 700px;
    margin-top: 100px;
    box-sizing: border-box;
    padding: 10px;
  }
  html body main .sign {
    margin: auto;
    width: 600px;
    height: 650px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    padding: 40px;
    gap: 20px;
    background-image: linear-gradient(to right, rgb(48, 79, 127), transparent);
  }
  html body main .sign .login {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(211, 255, 238);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    gap: 10px;
    font-weight: bold;
    font-size: 0.8em;
  }
  html body main .sign .login input {
    height: 10px;
    background-color: #234b7d;
    border: 1px solid rgb(56, 56, 56);
    border-radius: 5px;
    color: white;
    padding: 15px;
    font-size: 1.2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  html body main .sign .login input:hover {
    background-color: #264e85;
  }
  html body main .sign .login span {
    display: flex;
    gap: 10px;
  }
  html body main .sign .login span input {
    height: 15px;
    width: 15px;
  }
  html body main .sign .login a {
    color: white;
    font-weight: lighter;
    text-align: center;
  }
  html body main .sign .login a:hover {
    color: rgb(190, 190, 190);
  }
  html body main .sign .login button {
    height: 70px;
    width: 300px;
    margin: auto;
    border-radius: 3px;
    font-size: 1.4em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right, rgb(17, 121, 181), rgb(25, 87, 154));
    border: transparent;
  }
  html body main .sign .login button:hover {
    background-image: linear-gradient(to right, rgb(12, 136, 207), rgb(21, 101, 185));
  }
  html body footer {
    width: 100%;
    background-color: #222e3b;
    height: 150px;
    margin-bottom: 0px;
  }
  html body footer .end {
    width: 60%;
    height: 40%;
    margin: auto;
  }
  html body footer .end hr {
    border: 1px solid rgb(67, 67, 67);
  }
  html body footer .end .ender {
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: 20px;
    color: rgb(180, 180, 180);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-align: center;
  }
  html body footer .end .ender img {
    opacity: 50%;
  }
}
@media screen and (min-width: 1220px) {
  html {
    overflow-x: hidden;
  }
  html body {
    background-image: linear-gradient(to bottom, rgb(52, 89, 140), rgb(10, 42, 80));
    zoom: 100%;
    background-color: #25506a;
    margin: 0px;
  }
  html body nav {
    top: 0px;
    flex-basis: 0;
    max-width: 40%;
    height: 60px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    opacity: 50%;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    transition: 0.2s;
  }
  html body nav .menubutton {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
  }
  html body nav .menubutton:hover {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
  }
  html body nav .title {
    margin-right: 20px;
    max-width: 130px;
    opacity: 100%;
    cursor: pointer;
    transition: 0.2s;
  }
  html body nav #menu {
    margin-top: -20px;
    width: 100px;
    height: 190px;
    background-color: rgb(0, 29, 30);
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
    visibility: hidden;
  }
  html body nav #menu a {
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
  html body nav #menu .langbutton {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0px;
    font-size: 1.05em;
    cursor: pointer;
  }
  html body nav:hover {
    max-width: 42%;
    height: 60px;
    background-color: rgb(0, 29, 30);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    opacity: 70%;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    transition: 0.2s;
    animation: scrol;
    animation-timeline: scroll;
  }
  html body header {
    position: relative;
    top: 20px;
    display: flex;
    visibility: visible;
    margin: auto;
    max-width: 70%;
    background-image: linear-gradient(to right, #3B6491, #0F216E);
    justify-content: space-evenly;
    text-align: center;
    border: transparent;
    border: 1px solid #204873;
    max-height: 40px;
  }
  html body header .tabs {
    padding: 10px;
    background-color: transparent;
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  html body header .tabs:hover {
    padding: 10px;
    background-image: linear-gradient(to right, #37749a, transparent);
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
  }
  html body header .tabs2 {
    padding: 5px;
    background-color: transparent;
    display: flex;
    width: 100%;
    text-align: center;
    border: transparent;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  html body main {
    width: 100%;
    height: 700px;
    margin-top: 100px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 100px;
  }
  html body main .sign {
    margin: auto;
    width: 600px;
    height: 720px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    padding: 40px;
    gap: 20px;
    background-image: linear-gradient(to right, rgb(48, 79, 127), transparent);
  }
  html body main .sign .login {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(211, 255, 238);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    gap: 10px;
    font-weight: bold;
    font-size: 1em;
  }
  html body main .sign .login input {
    height: 10px;
    background-color: #234b7d;
    border: 1px solid rgb(56, 56, 56);
    border-radius: 5px;
    color: white;
    padding: 15px;
    font-size: 1.2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  html body main .sign .login input:hover {
    background-color: #264e85;
  }
  html body main .sign .login span {
    display: flex;
    gap: 10px;
  }
  html body main .sign .login span input {
    height: 15px;
    width: 15px;
  }
  html body main .sign .login a {
    color: white;
    font-weight: lighter;
    text-align: center;
  }
  html body main .sign .login a:hover {
    color: rgb(190, 190, 190);
  }
  html body main .sign .login button {
    width: 300px;
    height: 60px;
    border-radius: 3px;
    font-size: 1.2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right, rgb(17, 121, 181), rgb(25, 87, 154));
    border: transparent;
    margin: auto;
  }
  html body main .sign .login button:hover {
    background-image: linear-gradient(to right, rgb(12, 136, 207), rgb(21, 101, 185));
  }
  html body main .sign .qr {
    width: 450px;
    display: flex;
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    font-size: 0.8em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(91, 147, 171);
    font-weight: bold;
  }
  html body main .sign .qr img {
    margin: auto;
    box-sizing: border-box;
    max-width: 80%;
    border-radius: 10px;
  }
  html body footer {
    width: 100%;
    background-color: #222e3b;
    height: 150px;
    margin-bottom: 0px;
  }
  html body footer .end {
    width: 60%;
    height: 40%;
    margin: auto;
  }
  html body footer .end hr {
    border: 1px solid rgb(67, 67, 67);
  }
  html body footer .end .ender {
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: 20px;
    color: rgb(180, 180, 180);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.34em;
    text-align: center;
  }
  html body footer .end .ender img {
    opacity: 50%;
  }
}/*# sourceMappingURL=register.css.map */