body{
    overflow-x: hidden;

    center{
        margin-top: 300px;
        font-size: 2em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        button{
            margin-top: 100px;
            a{
                text-decoration: none;
                color: white;
                font-size: 1.4em;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 5px;
                font-weight: bold;
            }
            background-image: linear-gradient(to left, rgb(75, 195, 235), rgb(73, 121, 255));
            width: 200px;
            height: 50px;
            border: transparent;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover{
            background-image: linear-gradient(to left, rgb(104, 207, 241), rgb(99, 139, 249));
        }
    }
}